# X3FL dynamic relationships

## The relationship

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
all_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Pirates", "Terran", "Yaki"]
# https://imgur.com/nqI0nbO, https://imgur.com/7BhbUMa, by blazenclaw, forum.egosoft.com
try:
    relationship_df = pd.read_csv("relationship.csv", index_col=0)
except:
    relationship_df = pd.read_csv("https://raw.githubusercontent.com/mkmark/X3FL-dynamic-relationships/main/relationship.csv", index_col=0)
relationship_df = pd.DataFrame(relationship_df)
cmap = sns.diverging_palette(5, 250, as_cmap=True)

def color_map(val):
    if val > 0.3:
        val = 0.3
    if val< -0.3:
        val = -0.3
    val = val/0.45+0.5
    cmap_val = cmap(val)
    colorvalue = (int(255*cmap_val[0]),int(255*cmap_val[1]),int(255*cmap_val[2]),cmap_val[3])
    color = 'rgba%s' % str(colorvalue)
    return 'background-color: %s' % color

relationship_df.style.applymap(color_map, subset=pd.IndexSlice[all_races, all_races])\
    .set_properties(**{'width': '40px', 'height': '40px'})\
    .set_caption("Relationship")\
    .set_precision(2)

The problem is simple: given the relationship $\mathbf{R}$, target notority $\mathbf{N}$, find tactics $\mathbf{X}$, which is a vector that represents how much notority point one should get from a race.

$$
\mathbf{R}\mathbf{X}=\mathbf{N}
$$

$$
\mathbf{X}=\mathbf{R}^{-1}\mathbf{N}
$$

Let's first define $\mathbf{N}$ as vectors of 1, since we don't want to lose effort by hitting the notoriety ceiling.

In [3]:
def get_X(races):
    R = np.array(relationship_df.loc[races, races])
    invR = np.linalg.inv(R) 
    N = np.ones(len(races))
    X = invR@N
    return X

def get_X_df(races):
    X = get_X(races)
    return pd.DataFrame(list(X)+[sum(X)]+[len(races)/sum(X)], index=races+['sum', 'efficiency']).transpose()

These races selected are the control group of races that are friends, but not necessarily to be the only friends as an notoriety overflow is allowed, which will make $N_i > 1$

To calculate the possible solutions, one has to recuse through all subsets and check if some get possible solutions, see below

## Example solutions

Let's see if there is a solution for all the races

The number for each race represents how much effort you will have to put with that race to get 1 notoriety point for each race assuming you're to be friend with all these selected race.

The sum is the total workload of current tactic.

The efficiency is the sum of actual gained notoriety points (equal the number of races selected) divided by total workload.

In [4]:
get_X_df(all_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,Pirates,Terran,Yaki,sum,efficiency
0,0.413665,0.834924,0.400697,-0.602183,-0.088362,-0.559179,-0.534538,-0.60492,-0.931595,-1.156118,-0.343422,-1.250485,-1.373975,-1.513874,-1.536987,-8.846352,-1.695614

Unfortunately there is not a solution as one would have to get negative points from races. The problem is, when actively losing points of a race, the notoriety points of enemy races does not increase accordingly. However if that is true, we can see a path that you do some missions for some races but keep robbing other races and one day you will find yourself master of diplomacy with all races - too good to be true for those races you robbed.

Let's get results of some interesting races combo.

In [5]:
commonwealth_races = ["Teladi", "Argon", "Boron", "Split", "Paranid"]
major_races = ["Teladi", "Argon", "Boron", "Split", "Paranid", "Terran"]
all_but_yaki_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Pirates", "Terran"]
all_but_yaki_terran_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Pirates"]
all_but_yaki_terran_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid"]
all_but_yaki_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Terran"]
all_but_terran_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Yaki"]
all_but_teladi_yaki_terran_pirates_races = ["NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid"]

All commonwealth races, no problem

In [6]:
get_X_df(commonwealth_races)

   Teladi     Argon     Boron     Split   Paranid       sum  efficiency
0     1.0  1.428571  1.428571  1.428571  1.428571  6.714286    0.744681

All major races, no problem

In [7]:
get_X_df(major_races)

,Teladi,Argon,Boron,Split,Paranid,Terran,sum,efficiency
0,1.0,3.823529,3.823529,3.823529,3.823529,5.588235,21.882353,0.274194

All but Yaki, not an option

In [8]:
get_X_df(all_but_yaki_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,Pirates,Terran,sum,efficiency
0,0.904032,0.639788,0.11671,-0.844907,-0.910454,-0.926158,-1.022721,-0.939952,-1.63911,-1.890735,-0.748691,-1.995335,-2.18678,-2.677981,-14.122294,-0.99134

According to calculation just 3 enemies seems not sufficient

In [9]:
get_X_df(all_but_yaki_terran_pirates_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,sum,efficiency
0,-0.172497,7.816643,7.790471,13.40212,12.541359,10.368289,14.311163,17.984757,15.620415,18.506517,22.635896,21.638802,162.443937,0.073872

which is actually not the case since a subset is sufficient, just teledi notoriety points got overflowed doesn't render it illegal

In [10]:
get_X_df(all_but_teladi_yaki_terran_pirates_races)

,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,sum,efficiency
0,7.780909,7.781132,13.390187,12.529926,10.355119,14.294295,17.964491,15.606104,18.489653,22.60303,21.615287,162.410133,0.06773

In [11]:
R = np.array(relationship_df.loc[all_races, all_but_teladi_yaki_terran_pirates_races])
R@get_X(all_but_teladi_yaki_terran_pirates_races)

array([  1.16713635,   1.        ,   1.        ,   1.        ,
         1.        ,   1.        ,   1.        ,   1.        ,
         1.        ,   1.        ,   1.        ,   1.        ,
       -24.73473903, -40.03737145, -40.29544981])

thus our complete solution

In [12]:
# https://stackoverflow.com/questions/26332412/python-recursive-function-to-display-all-subsets-of-given-set
def subs(l):
    if l == []:
        return [[]]

    x = subs(l[1:])

    return x + [[l[0]] + y for y in x]

def get_X_optimal_sub(races):
    possible_solution_racess = []
    possible_solution_Xs = []
    possible_solution_workloads = []
    for sub_races in subs(races):
        X = get_X(sub_races)
        R_all = np.array(relationship_df.loc[races, sub_races])
        N_all = R_all@X
        min_N_all = min(N_all)
        if min_N_all>0:
            if min_N_all<1:
                X = [x*1/min_N_all for x in X]
            possible_solution_racess += [sub_races]
            possible_solution_Xs += [X]
            possible_solution_workloads += [sum(X)]
    if len(possible_solution_workloads)>0:
        min_index = possible_solution_workloads.index(min(possible_solution_workloads))
        optiaml_solution_races = possible_solution_racess[min_index]
        optiaml_solution_X = possible_solution_Xs[min_index]
        if min(optiaml_solution_X)>0:
            return pd.DataFrame(list(optiaml_solution_X)+[sum(optiaml_solution_X)]+[len(races)/sum(optiaml_solution_X)], index=optiaml_solution_races+['sum', 'efficiency']).transpose()

In [13]:
get_X_optimal_sub(all_but_yaki_terran_pirates_races)

,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,sum,efficiency
0,7.780909,7.781132,13.390187,12.529926,10.355119,14.294295,17.964491,15.606104,18.489653,22.60303,21.615287,162.410133,0.073887

In [14]:
get_X_optimal_sub(all_but_yaki_races)

## Let's explore all possibilities

Turned out there are the following number of possible combos.

In [15]:
least_enemy_set_list = []
for sub_races in subs(all_races):
    if sub_races != []:
        X = get_X(sub_races)
        if min(X)>0:
            R_all = np.array(relationship_df.loc[all_races, sub_races])
            N_all = R_all@X
            enemy_set = set([race for i, race in enumerate(all_races) if N_all[i]<=0])
            if enemy_set == set():
                continue
            is_duplicate = False
            for i in reversed(range(len(least_enemy_set_list))):
                least_enemy_set = least_enemy_set_list[i]
                if least_enemy_set.issubset(enemy_set):
                    is_duplicate = True
                    break
                if enemy_set.issubset(least_enemy_set):
                    least_enemy_set_list.pop(i)
            if not is_duplicate:
                least_enemy_set_list = least_enemy_set_list + [enemy_set]
                
len(least_enemy_set_list)

283

which is the following

In [16]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    workload = sum(get_X(list(set(all_races) - least_enemy_set)))
    efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
    item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
    print(item)
    parsed_least_enemy_set_list += [item]

Strong Arms - Teladi - Argon - Boron - TerraCorp - NMMC - Split - Paranid - Pirates, 1758.3749999999511, 0.0034122414160802825
Strong Arms - Terran - Atreus - Teladi - TerraCorp - NMMC - OTAS - Split - Pirates, 544.4800762025749, 0.011019686967880324
Atreus - Teladi - Argon - TerraCorp - NMMC - OTAS - Split - Paranid - Pirates, 552.8193767538005, 0.010853454586256507
Terran - Atreus - Teladi - Argon - TerraCorp - NMMC - OTAS - Split, 506.4886644461125, 0.013820644945045478
Terran - Atreus - Teladi - Argon - TerraCorp - NMMC - OTAS - Pirates, 15209.636542238732, 0.0004602345348989949
Terran - Atreus - Teladi - Boron - TerraCorp - NMMC - OTAS - Pirates, 618.5248369292525, 0.011317249659290023
Terran - Atreus - Teladi - TerraCorp - NMMC - OTAS - Paranid - Pirates, 11356.756358878614, 0.0006163731772344892
Strong Arms - Atreus - Teladi - Argon - Boron - NMMC - OTAS - Split - Pirates, 479.0827338129485, 0.012523932875323827
Strong Arms - Terran - Teladi - Argon - NMMC - OTAS - Paranid - Pirates, 932.6163034179535, 0.007505766277455841
Strong Arms - Atreus - Teladi - Boron - NMMC - Split - Paranid - Pirates, 419.9980657312855, 0.016666743423715182
Strong Arms - Terran - Teladi - Boron - NMMC - OTAS - Split - Pirates, 667.1714658052651, 0.01049205542918583
Terran - Atreus - Teladi - Argon - Boron - NMMC - Split - Pirates, 13741.668032817075, 0.0005093995855003188
Duke's - Strong Arms - Argon - TerraCorp - Yaki - Pirates, 21962.274528801627, 0.00040979362079265864
Duke's - Strong Arms - Boron - TerraCorp - Yaki - Pirates, -27986.68774898507, -0.0003215814633271986
Duke's - Strong Arms - Terran - Atreus - Teladi - Boron - Pirates, 1207.8449228464115, 0.006623366831850543
Duke's - Strong Arms - Split - Yaki - Pirates, 157.46622151477652, 0.0635056833383254
Duke's - Strong Arms - Atreus - Yaki - Pirates, 115.80946764695187, 0.08634872608589529
Duke's - Strong Arms - OTAS - Yaki - Pirates, 55.18972548571193, 0.18119314622409022
Duke's - Strong Arms - Yaki - Paranid - Pirates, 76.97766506101132, 0.1299078114680947
Strong Arms - Atreus - Argon - Boron - TerraCorp - Split - Yaki, 173.91539470957946, 0.045999378107723955
Strong Arms - Argon - Boron - TerraCorp - Split - Yaki - Pirates, 104.81626022629126, 0.07632403581971478
Strong Arms - Terran - Atreus - Teladi - Argon - TerraCorp - OTAS - Split, 549.3881752701216, 0.012741446421846011
Strong Arms - Atreus - Argon - TerraCorp - OTAS - Split - Yaki, 651.6304134884863, 0.012276897815699255
Strong Arms - Atreus - Teladi - Argon - TerraCorp - Split - Paranid - Pirates, 4618.2114922706005, 0.0015157382921322999
Strong Arms - Duke's - Argon - OTAS - TerraCorp - Split - Yaki, 98.1342789871387, 0.08152095356046245
Strong Arms - Terran - Teladi - Argon - TerraCorp - Split - Paranid, 273.67850400552766, 0.02923137872691097
Strong Arms - Argon - TerraCorp - Split - Yaki - Paranid, 279.8145252101993, 0.03216416300490161
Strong Arms - Duke's - Atreus - Teladi - Argon - TerraCorp - OTAS - Pirates, 5696.305164319242, 0.0012288667474921985
Duke's - Strong Arms - Terran - Teladi - Argon - TerraCorp - Pirates, 4586.925917629239, 0.001744087465911116
Strong Arms - Atreus - Boron - TerraCorp - Split - Yaki - Pirates, 234.69666324670135, 0.034086551931890065
Strong Arms - Boron - TerraCorp - Split - Yaki - Paranid, 249.55569028056692, 0.036064094510854905
Strong Arms - Duke's - Atreus - Teladi - Boron - TerraCorp - OTAS - Pirates, 4809.400000000049, 0.0014554830124339686
Strong Arms - Atreus - Boron - TerraCorp - Yaki - Paranid, 218.49638117035343, 0.0411906135552105
Duke's - Strong Arms - Terran - Teladi - Boron - TerraCorp - Pirates, 3128.7062534429842, 0.002556967433806354
Strong Arms - Duke's - Atreus - Teladi - TerraCorp - OTAS - Split - Pirates, 6182.190019194066, 0.001132284834058295
Strong Arms - Duke's - Terran - Atreus - Teladi - TerraCorp - OTAS - Split, 545.4800762025734, 0.012832732679681649
Strong Arms - Duke's - Atreus - OTAS - TerraCorp - Split - Yaki, 976.824174423052, 0.008189805503866745
Duke's - Strong Arms - Teladi - TerraCorp - Split - Paranid - Pirates, 457.2980762099693, 0.01749406003695232
Duke's - Strong Arms - Terran - Teladi - TerraCorp - Split - Paranid, 339.33415821166454, 0.023575581197487008
Duke's - Strong Arms - TerraCorp - Split - Yaki - Paranid, 388.448375399898, 0.023169101919231154
Strong Arms - Split - Yaki - Paranid - Pirates, 33.36325720772322, 0.2997309266819761
Strong Arms - Terran - TerraCorp - Split - Yaki, 136.35171232100825, 0.07333974637925585
Strong Arms - Duke's - Atreus - Teladi - TerraCorp - OTAS - Paranid - Pirates, 5310.724845996054, 0.0013180874933254264
Duke's - Strong Arms - Atreus - TerraCorp - Yaki - Paranid, 178.26712673585985, 0.05048603275765693
Duke's - Strong Arms - Terran - Teladi - TerraCorp - OTAS - Paranid, 5079.68985346114, 0.0015748993010959228
Duke's - Teladi - Argon - Boron - TerraCorp - OTAS - Split - Paranid, 1848.9999999999498, 0.003785830178474954
Argon - Boron - OTAS - TerraCorp - Split - Yaki, 332.07062671515627, 0.027102668155350052
Duke's - Argon - Boron - TerraCorp - Split - Yaki - Pirates, 173.20759890325056, 0.04618735003923587
Atreus - Teladi - Argon - Boron - TerraCorp - OTAS - Paranid, 468.09946295676616, 0.01709038491406875
Duke's - Atreus - Argon - Boron - TerraCorp - Yaki, 162.02635189908403, 0.05554652002290054
Atreus - Argon - Boron - TerraCorp - Yaki - Pirates, 86.26813160155807, 0.10432589454432387
Duke's - Argon - Boron - TerraCorp - OTAS - Yaki, 212.208077251231, 0.042411203741999845
Duke's - Atreus - Teladi - Argon - TerraCorp - OTAS - Split - Paranid, 553.8193767537985, 0.012639499977466235
Atreus - Argon - TerraCorp - Split - Yaki - Paranid, 208.13864241068092, 0.0432404088724764
Duke's - Terran - Teladi - Argon - OTAS - TerraCorp - Split, 377.27007339550744, 0.0212049684407734
Duke's - Atreus - Argon - TerraCorp - OTAS - Yaki, 178.3705853928349, 0.05045674980647077
Duke's - Atreus - Argon - TerraCorp - Yaki - Paranid, 1768.0392033763806, 0.005090384864098558
Terran - Teladi - Argon - TerraCorp - OTAS - Paranid - Pirates, 938.3318158680393, 0.008525768672353178
Argon - TerraCorp - Terran - Yaki, 6380.360232707166, 0.0017240405868639702
Duke's - Atreus - Boron - TerraCorp - OTAS - Yaki, 128.92640716459076, 0.06980726600494164
Duke's - Atreus - Teladi - Boron - TerraCorp - Paranid - Pirates, 491.5916002618591, 0.0162736710630096
Duke's - Boron - TerraCorp - OTAS - Yaki - Paranid, 1089.6132241637474, 0.008259811647300159
Duke's - Boron - TerraCorp - Yaki - Paranid - Pirates, 290.2774436244237, 0.03100482038020383
Boron - TerraCorp - Terran - Yaki, 1167.9560442782372, 0.009418162655939403
Atreus - OTAS - TerraCorp - Split - Yaki - Paranid, 1904.1055019116152, 0.0047266288506411566
Duke's - Atreus - TerraCorp - Split - Yaki - Paranid, 160.61475461006654, 0.056034702551766215
Duke's - OTAS - TerraCorp - Split - Yaki - Paranid, 1971.346690482003, 0.00456540701006755
OTAS - Split - Yaki - Paranid - Pirates, 101.12776908947654, 0.0988848077045201
Terran - Teladi - OTAS - TerraCorp - Split - Paranid, 373.116476617506, 0.02412115402029323
Duke's - Terran - Atreus - Teladi - TerraCorp - Paranid, 421.4559095885282, 0.021354546929444634
Duke's - Atreus - TerraCorp - Yaki - Pirates, 280.24981341472886, 0.03568245016171147
Terran - Yaki - TerraCorp - Atreus, 174.7037201981463, 0.06296374220036051
Terran - TerraCorp - OTAS - Yaki, 178.8162569639823, 0.06151565963163882
Terran - TerraCorp - Duke's - Yaki, 1169.8407341545965, 0.009402989380387168
Strong Arms - Terran - Atreus - Teladi - Argon - Boron - Split - Pirates, 4439.010873837262, 0.001576927878518332
Strong Arms - Duke's - Teladi - Argon - Boron - OTAS - Split - Paranid, 212.41256502600984, 0.032954735983452076
Strong Arms - Argon - Boron - OTAS - Split - Yaki, 213.34508319474241, 0.042185176546978384
Strong Arms - Duke's - Teladi - Argon - Boron - Split - Paranid - Pirates, 276.5703951029484, 0.025310011931661647
Strong Arms - Argon - Boron - Split - Yaki - Paranid, 306.8723441740384, 0.02932815605858498
Strong Arms - Duke's - Atreus - Teladi - Argon - Boron - Paranid - Pirates, 205.22185473152692, 0.034109427619965056
Strong Arms - Atreus - Argon - Boron - Yaki - Pirates, 541.053021203864, 0.016634229266430583
Duke's - Strong Arms - Argon - Boron - OTAS - Yaki, 286.09352629309444, 0.03145824415048023
Strong Arms - Argon - Boron - Yaki - Paranid - Pirates, 237.39847151003968, 0.03791094332980735
Strong Arms - Terran - Atreus - Teladi - Argon - Split - Paranid, 546.9979359392263, 0.014625283706534558
Strong Arms - Atreus - Argon - Split - Yaki - Pirates, 991.9891228480286, 0.009072680125927941
Strong Arms - Teladi - Argon - OTAS - Split - Paranid - Pirates, 530.1171330397449, 0.01509100442411132
Strong Arms - Argon - OTAS - Split - Yaki - Pirates, 60.49766195950056, 0.14876607968792155
Duke's - Strong Arms - Atreus - Argon - OTAS - Yaki, 270.32782613488575, 0.0332929100517727
Strong Arms - Atreus - Argon - OTAS - Yaki - Paranid, 424.00883176705145, 0.021225972964979557
Duke's - Strong Arms - Atreus - Argon - Yaki - Paranid, 686.7486867347444, 0.013105230739926024
Strong Arms - Atreus - Argon - Yaki - Paranid - Pirates, 265.7966873010847, 0.03386046715399854
Strong Arms - Terran - Atreus - Argon - Yaki, 803.4939920433699, 0.012445643774596182
Duke's - Strong Arms - Argon - OTAS - Yaki - Paranid, 103.44269295968125, 0.08700469547431369
Strong Arms - Argon - OTAS - Yaki - Paranid - Pirates, 280.66201815718836, 0.03206703942020197
Duke's - Strong Arms - Terran - Teladi - Argon - Paranid - Pirates, 3014.7076429604203, 0.0026536569868327465
Strong Arms - Teladi - Boron - OTAS - Split - Paranid - Pirates, 15020.894836971276, 0.0005325914392469758
Strong Arms - Boron - OTAS - Split - Yaki - Pirates, 172.51953062998987, 0.052168006527346114
Duke's - Strong Arms - Atreus - Boron - OTAS - Yaki, 340.7447661210932, 0.026412731448387374
Duke's - Strong Arms - Terran - Teladi - Boron - OTAS - Paranid, 329.23742001911046, 0.02429857456523515
Duke's - Strong Arms - Boron - OTAS - Yaki - Paranid, 68.29144410809995, 0.13178810490159956
Duke's - Strong Arms - Terran - Atreus - Teladi - Split - Paranid, 270.7542809044931, 0.029547085915963597
Strong Arms - Atreus - Split - Yaki - Paranid, 137.99842910943715, 0.0724645929996035
Strong Arms - Terran - Atreus - Split - Yaki, 1192.8494645957157, 0.008383287495031262
Strong Arms - OTAS - Split - Yaki - Paranid, 93.08238540161605, 0.10743171177719286
Terran - OTAS - Strong Arms - Yaki, 281.9783667942631, 0.03901008479854703
Atreus - Argon - Boron - Split - Yaki - Pirates, 122.9202563003893, 0.07321820073337658
Duke's - Argon - Boron - OTAS - Split - Yaki, 5387.561557879111, 0.00167051455529781
Atreus - Argon - Boron - OTAS - Yaki, 90.84472765587313, 0.11007793471384245
Duke's - Terran - Atreus - Teladi - Argon - Boron - Paranid, 655.8812485348252, 0.012197329955493042
Atreus - Argon - Boron - Yaki - Paranid, 151.03602500598728, 0.06620936958320763
Argon - Boron - OTAS - Yaki - Paranid, 158.85664085520466, 0.06294983921455852
Terran - Teladi - Argon - Boron - OTAS - Pirates, 2202.778558615175, 0.004085748866948318
Argon - Boron - OTAS - Yaki - Pirates, 245.92049081835646, 0.04066354929075947
Duke's - Terran - Teladi - Argon - Boron - Paranid - Pirates, 1686.4119568134222, 0.004743799382872312
Duke's - Argon - Boron - Yaki - Paranid - Pirates, 1059.352677548915, 0.008495754238167234
Duke's - Atreus - Argon - OTAS - Split - Yaki, 1568.2191092769901, 0.005738993962488666
Atreus - Argon - OTAS - Split - Yaki - Pirates, 144.32584237259564, 0.06235889465148831
Duke's - Atreus - Teladi - Argon - Split - Paranid - Pirates, 536.6466354809975, 0.014907388719263252
Duke's - Atreus - Argon - Split - Yaki - Paranid, 389.4680058668142, 0.023108445018402143
Terran - Atreus - Argon - Split - Yaki, 351.54514719411856, 0.028445848505705962
Argon - OTAS - Split - Yaki - Paranid, 678.8269657494137, 0.014731294578081715
Terran - Teladi - Argon - OTAS - Split - Pirates, 988.4514351272443, 0.009105151431988584
Argon - Split - Yaki - Paranid - Pirates, 303.5286936670965, 0.03294581437815489
Atreus - Argon - OTAS - Yaki - Paranid - Pirates, 298.9450398277711, 0.03010586830671317
Duke's - Atreus - Argon - Yaki - Pirates, 8829.79969447897, 0.0011325285222781127
Duke's - Argon - OTAS - Yaki - Pirates, 110.427637488444, 0.09055704013450869
Argon - OTAS - Terran - Yaki, 83.24190571176662, 0.13214498041513603
Duke's - Atreus - Boron - OTAS - Split - Yaki, 2670.63493384931, 0.0033699851244841923
Atreus - Boron - OTAS - Split - Yaki - Pirates, 182.9908926945112, 0.04918277553312332
Atreus - Boron - Split - Yaki - Paranid, 114.54905859460689, 0.08729884053775028
Boron - OTAS - Split - Yaki - Paranid, 170.53300987724145, 0.058639673381702
Boron - Split - Yaki - Paranid - Pirates, 103.4959462999904, 0.09662214180847514
Atreus - Boron - OTAS - Yaki - Paranid, 124.2766602621199, 0.0804656319127691
Duke's - Atreus - Boron - Yaki - Paranid, 304.84229922610706, 0.032803846531097115
Duke's - Atreus - Boron - Yaki - Pirates, 110.46725937249478, 0.09052455955551567
Atreus - Boron - Yaki - Paranid - Pirates, 105.39212222937898, 0.09488375211038698
Boron - Atreus - Terran - Yaki, 362.03269977700626, 0.030383995718550952
Duke's - Boron - OTAS - Yaki - Pirates, 79.85484550283891, 0.12522721616992535
Boron - OTAS - Yaki - Paranid - Pirates, -24369.074685863157, -0.0004103561636585709
Boron - OTAS - Terran - Yaki, 78.34237671512544, 0.1404093220199209
Duke's - Terran - Atreus - Teladi - Split - Pirates, 701.2801964226687, 0.012833671970077433
Duke's - Atreus - Split - Yaki - Pirates, 213.0170396417771, 0.046944601318357586
Atreus - Split - Yaki - Paranid - Pirates, 79.85944440538404, 0.12522000465264707
Duke's - OTAS - Split - Yaki - Pirates, 74.26441173266068, 0.13465399868780095
Terran - OTAS - Split - Yaki, 121.09694482534422, 0.09083631313626522
Duke's - Split - Yaki - Paranid - Pirates, 74.31094030474354, 0.13456968730298335
Duke's - Terran - Atreus - Teladi - OTAS - Paranid, 291.0055563916153, 0.030927244522741752
Duke's - Atreus - OTAS - Yaki - Paranid, 363.6685152648179, 0.027497568748062095
Duke's - Atreus - OTAS - Yaki - Pirates, 59.13128817880325, 0.1691152063144921
Terran - Atreus - OTAS - Yaki, 151.90811995639717, 0.07241219233808815
Duke's - Atreus - Yaki - Paranid - Pirates, 53.14390556429993, 0.1881683307580921
Terran - Atreus - Duke's - Yaki, 134248.85468449083, 8.19373843140189e-05
Duke's - OTAS - Yaki - Paranid - Pirates, 75.78080364066751, 0.13195954014181943
Duke's - Terran - Teladi - OTAS - Pirates, 763.7443057890885, 0.013093387308031265
Terran - OTAS - Duke's - Yaki, 68.01331847910072, 0.16173302885346058
Terran - Paranid - Yaki, 195.74987462921908, 0.06130272125450849
Terran - Pirates - Yaki, 162.44393680858633, 0.07387163987622414
Duke's - Strong Arms - Terran - Atreus - Split - Pirates, 468.6994809308739, 0.019202069484108013
Strong Arms - Duke's - Argon - OTAS - TerraCorp - Split - Pirates, 224.27928473468285, 0.03566981234786714
Strong Arms - Duke's - Terran - Argon - OTAS - TerraCorp - Split, 215.95094776927462, 0.037045449823852244
Duke's - Strong Arms - Argon - TerraCorp - Split - Paranid - Pirates, 218.83273963960946, 0.03655760108462296
Duke's - Strong Arms - Terran - Argon - TerraCorp - Split - Paranid, 217.04741897650277, 0.036858305146978354
Strong Arms - Atreus - Argon - TerraCorp - NMMC - OTAS - Yaki - Pirates, 1905.249205691391, 0.0036740600542383055
Duke's - Strong Arms - Boron - TerraCorp - Split - Paranid - Pirates, 211.91537667112829, 0.03775091796389655
Strong Arms - Atreus - Boron - TerraCorp - NMMC - OTAS - Yaki - Pirates, 1074.2564841498565, 0.006516134743687072
Duke's - Strong Arms - Atreus - Boron - TerraCorp - Paranid - Pirates, 216.32644429167246, 0.036981146832024005
Strong Arms - Atreus - NMMC - OTAS - Yaki - Paranid - Pirates, 995.0257432779248, 0.008039992989171825
Duke's - Strong Arms - Terran - Atreus - TerraCorp - Paranid, 1044.651320946412, 0.008615314813220514
Duke's - Atreus - Argon - Boron - TerraCorp - Split - Paranid, 260.2444408788873, 0.030740330025812324
Duke's - Atreus - Argon - Boron - TerraCorp - Split - Pirates, 171.11586456023718, 0.04675194798892416
Duke's - Argon - Boron - OTAS - TerraCorp - Split - Pirates, 104.17922628063694, 0.07679074116417108
Duke's - Atreus - Argon - Boron - TerraCorp - OTAS, 1547.2620822567314, 0.005816726269717158
Atreus - Argon - Boron - TerraCorp - NMMC - OTAS - Paranid, 1081.9473896719635, 0.007394074865715538
Duke's - Atreus - Argon - Boron - TerraCorp - Paranid - Pirates, 52.33267063121785, 0.1528681778228949
Duke's - Terran - Atreus - Argon - Boron - TerraCorp, 132.3429456725118, 0.06800513585567967
Duke's - Argon - Boron - TerraCorp - OTAS - Paranid - Pirates, 299.2613875922286, 0.026732483145806778
Duke's - Terran - Argon - Boron - TerraCorp - OTAS, 103.99794312386905, 0.08654017310015787
Duke's - Terran - Argon - Boron - TerraCorp - Pirates, 1425.174267271323, 0.006315017192410891
Duke's - Atreus - Argon - OTAS - TerraCorp - Split - Pirates, 96.53996750742756, 0.08286723319421563
Argon - TerraCorp - NMMC - OTAS - Split - Yaki - Pirates, 434.9426858130927, 0.01839322802967614
Duke's - Atreus - Argon - TerraCorp - OTAS - Paranid - Pirates, 252.00365243892008, 0.03174557163189933
Duke's - Terran - Atreus - Argon - TerraCorp - OTAS, 93.73275975771779, 0.09601765725519414
Duke's - Terran - Atreus - Argon - TerraCorp - Paranid, 128.7648083445399, 0.0698948735738295
Duke's - Terran - Argon - TerraCorp - OTAS - Paranid, 298.8053884820875, 0.030119938752508554
Terran - Argon - TerraCorp - NMMC - OTAS - Paranid - Pirates, 6583.131011726862, 0.001215227220261787
Duke's - Atreus - Boron - OTAS - TerraCorp - Split - Paranid, 168.5271912921079, 0.04747008443363667
Duke's - Atreus - Boron - OTAS - TerraCorp - Split - Pirates, 144.9913399752975, 0.055175709124165466
Duke's - Terran - Atreus - Boron - TerraCorp - OTAS, 106.30561486474933, 0.08466156760816947
Duke's - Terran - Boron - TerraCorp - OTAS - Paranid, 120.68555809056846, 0.0745739601522657
Duke's - Atreus - TerraCorp - Split - Paranid - Pirates, 497.05351949403223, 0.018106702089467967
Terran - TerraCorp - NMMC - OTAS - Split - Paranid, 2505.258500252846, 0.003592443653655567
Duke's - Terran - TerraCorp - Split - Pirates, 633.2902612752412, 0.015790547575867096
TerraCorp - NMMC - Split - Yaki - Paranid - Pirates, 1932.8745328669306, 0.00465627739771126
Terran - TerraCorp - NMMC - Split - Yaki, 5771.820407590553, 0.0017325556399587457

Duke's - Terran - Atreus - TerraCorp - OTAS - Paranid, 73.66057299503636, 0.12218205254263319
Duke's - Terran - Atreus - TerraCorp - Pirates, 93.52379886462633, 0.10692465577103838
Duke's - Terran - TerraCorp - OTAS - Pirates, 114.82559841822972, 0.08708859468406131
Duke's - Terran - TerraCorp - Paranid - Pirates, 304.5529752978416, 0.03283501003469222
Strong Arms - Duke's - Argon - Boron - OTAS - Split - Pirates, 108.11800528520372, 0.07399322600243
Duke's - Strong Arms - Argon - Boron - OTAS - Paranid - Pirates, 181.91808462473577, 0.04397583679765846
Strong Arms - Duke's - Atreus - Argon - OTAS - Split - Paranid, 3700.447951931404, 0.0021619004250078688
Strong Arms - Duke's - Atreus - Argon - OTAS - Split - Pirates, 107.50773142205621, 0.07441325283475125
Duke's - Strong Arms - Terran - Atreus - Argon - Split - Paranid, 372.7913262493918, 0.021459726760509768
Strong Arms - Argon - OTAS - NMMC - Split - Paranid - Pirates, 1808.004652883861, 0.00442476737393324
Duke's - Strong Arms - Atreus - Argon - OTAS - Paranid - Pirates, 179.4944210703291, 0.044569630366759184
Strong Arms - Duke's - Atreus - Boron - OTAS - Split - Paranid, 214.26942966689128, 0.03733617069143743
Strong Arms - Duke's - Atreus - Boron - OTAS - Split - Pirates, 385.09860454124276, 0.02077390025739038
Strong Arms - Atreus - Boron - NMMC - Split - Yaki - Pirates, 697.5180293934975, 0.01146923758652679
Strong Arms - Atreus - Boron - NMMC - Yaki - Paranid, 1474.934558041077, 0.006101965643786448
Duke's - Strong Arms - Terran - Boron - Paranid - Pirates, 1286.0105760738288, 0.006998387235256545
Strong Arms - Atreus - OTAS - NMMC - Split - Yaki - Pirates, 7184.14839152058, 0.0011135627445338359
Duke's - Strong Arms - Atreus - Split - Paranid - Pirates, 72.36937977169381, 0.12436198884656206
Duke's - Strong Arms - OTAS - Split - Paranid - Pirates, 43.57616656953312, 0.20653491824800566
Duke's - Strong Arms - Terran - Atreus - OTAS - Paranid, 600.7810909718972, 0.014980498113614887
Duke's - Strong Arms - Terran - OTAS - Pirates, 1089.0907334998994, 0.009181971430299496
Duke's - Atreus - Argon - Boron - OTAS - Paranid, 156.64858498568677, 0.057453439498494956
Duke's - Atreus - Argon - Boron - OTAS - Pirates, 76.62088044141258, 0.1174614536944895
Duke's - Terran - Atreus - Argon - Boron - OTAS, 99.04589029862723, 0.0908669705816632
Duke's - Terran - Atreus - Argon - Boron - Pirates, 531.3230551664267, 0.016938847114738743
Duke's - Terran - Atreus - Argon - Split - Pirates, 615.3797505883531, 0.014625115615837648
Duke's - Argon - OTAS - Split - Paranid - Pirates, 171.20786380392514, 0.052567678843929745
Duke's - Terran - Atreus - Argon - OTAS - Paranid, 105.38683714405316, 0.08539965942518903
Duke's - Terran - Argon - OTAS - Pirates, 167.57659047613376, 0.05967420611427345
Duke's - Atreus - Boron - Split - Paranid - Pirates, 98.69350042984347, 0.09119141545088548
Duke's - Terran - Atreus - Boron - Split - Pirates, 211.48059974520936, 0.042557095122877225
Duke's - Boron - OTAS - Split - Paranid - Pirates, 99.26026653367599, 0.090670721672368
Duke's - Atreus - Boron - OTAS - Paranid - Pirates, 79.89202668359722, 0.11265204268310051
Duke's - Terran - Boron - OTAS - Pirates, 126.12580707309675, 0.07928591485011832
Duke's - Atreus - OTAS - Split - Paranid - Pirates, 68.65854129362826, 0.13108347236085585
Atreus - OTAS - NMMC - Split - Yaki - Paranid, 586.299663600335, 0.015350511963000312
Duke's - Terran - OTAS - Split - Paranid, 476.61246611692906, 0.02098140672121376
Duke's - Terran - OTAS - Split - Pirates, 70.89051137474671, 0.141062602118036
Duke's - Terran - Atreus - OTAS - Pirates, 90.35429550955725, 0.11067542437915691
Duke's - Terran - Atreus - Paranid - Pirates, 76.37822886976059, 0.1309273617361814
Duke's - Terran - OTAS - Paranid - Pirates, 63.72800952002053, 0.1569168733703889
Terran - NMMC - OTAS - Yaki, 824.8106996204879, 0.013336393435562031
Strong Arms - Atreus - Argon - Boron - TerraCorp - Split - Paranid, 590.0780969817805, 0.013557527454280363
Strong Arms - Argon - Boron - TerraCorp - OTAS - Split - Paranid, 590.0780969817805, 0.013557527454280363
Strong Arms - Atreus - Argon - Boron - TerraCorp - OTAS - Paranid, 2321.584916423533, 0.00344592176810152
Terran - Atreus - Argon - Boron - TerraCorp - OTAS, 43.586475628329374, 0.2064860686774679
Terran - Atreus - Argon - Boron - TerraCorp - Pirates, 82.74798147656632, 0.1087639823884857
Strong Arms - Argon - OTAS - TerraCorp - Split - Paranid - Pirates, 1262.8185349523585, 0.0063350353028369276
Strong Arms - Terran - Argon - TerraCorp - OTAS - Paranid - Pirates, 1262.8185349523355, 0.006335035302837043
Strong Arms - Atreus - Boron - TerraCorp - Split - Paranid - Pirates, 744.8755623306322, 0.010740048948536982
Strong Arms - Terran - Boron - TerraCorp - Split - Paranid, 6453.342833633015, 0.001394626046069414
Atreus - Argon - Boron - TerraCorp - OTAS - Split - Pirates, 148.82106619294524, 0.053755830438871256
Terran - Atreus - Argon - Boron - TerraCorp - Split, 727.5860329816333, 0.012369671203167792
Terran - Argon - Boron - OTAS - TerraCorp - Split, 116.22918298976725, 0.0774332208873253
Terran - Argon - Boron - TerraCorp - Split - Paranid, 396.53938204231827, 0.02269635856506058
Terran - Argon - Boron - TerraCorp - Split - Pirates, 1369.0766935934205, 0.006573773435860388
Terran - Argon - Boron - TerraCorp - OTAS - Pirates, 87.81553018669779, 0.10248756661681366
Terran - Argon - Boron - TerraCorp - Paranid - Pirates, 428.6790773254344, 0.02099472653564474
Terran - Atreus - Argon - TerraCorp - Split - Pirates, 332.81291307645, 0.02704221995717042
Terran - Argon - OTAS - TerraCorp - Split - Pirates, 112.14391202892526, 0.08025402215038327
Terran - Atreus - Argon - TerraCorp - OTAS - Paranid, 2598.714606527711, 0.00346325063067445
Terran - Atreus - Argon - TerraCorp - Paranid - Pirates, 659.8955238051609, 0.013638522577184987
Terran - Atreus - Boron - TerraCorp - Split - Pirates, 1802.5767666648344, 0.004992852546664068
Terran - Boron - OTAS - TerraCorp - Split - Pirates, 580.7268883704069, 0.015497818648031158
Terran - Atreus - Boron - TerraCorp - Paranid, 897.501174601151, 0.011142046699207936
Terran - Atreus - TerraCorp - Split - Paranid, 613.8531487813315, 0.016290541182126
Terran - Atreus - Argon - Boron - OTAS - Pirates, 70.8406986244444, 0.12704561325280955
Strong Arms - Atreus - Argon - OTAS - Split - Paranid - Pirates, 125.62236361107226, 0.06368292850123453
Strong Arms - Terran - Argon - OTAS - Split - Pirates, 407.6683263178402, 0.02207677030317807
Strong Arms - Terran - OTAS - Split - Paranid, 2292.912244367316, 0.004361265907391629
Atreus - Argon - Boron - OTAS - Split - Paranid, 74.4610637336005, 0.12086853918981494
Terran - Atreus - Argon - Boron - OTAS - Split, 251.77225805788075, 0.03574659126237395
Atreus - Argon - Boron - Split - Paranid - Pirates, 305.0016336635822, 0.029508038668169985
Argon - Boron - OTAS - Split - Paranid - Pirates, 117.42977885772562, 0.07664154771937473
Terran - Argon - Boron - OTAS - Split - Pirates, 60.47901434292486, 0.14881194903357192
Atreus - Argon - Boron - OTAS - Paranid - Pirates, 2867.9359974522454, 0.0031381453449432707
Terran - Argon - Boron - OTAS - Paranid, 1139.7164129334922, 0.008774112477911246
Terran - Atreus - Argon - OTAS - Split - Pirates, 231.28382246820453, 0.038913227496649765
Terran - Argon - OTAS - Split - Paranid, 250.74361212152408, 0.039881374904791
Terran - Atreus - Argon - OTAS - Paranid - Pirates, 405.20345505721457, 0.022211064312690036
Atreus - Boron - OTAS - Split - Paranid - Pirates, 600.5825292105749, 0.01498545089519985
Terran - Atreus - Boron - OTAS - Split - Pirates, 745.7569699600023, 0.01206827473631618
Terran - Atreus - Boron - Split - Paranid, 640.7988442390623, 0.015605521280043552
Terran - Boron - OTAS - Split - Paranid, 136.00306499426452, 0.07352775469009994
Terran - Atreus - Boron - OTAS - Paranid, 443.3764649289677, 0.022554196695131475
Terran - Atreus - Boron - Paranid - Pirates, 289.0665259583408, 0.034594112780257244
Terran - Boron - OTAS - Paranid - Pirates, 814.9343447848944, 0.01227092717836005
Terran - Atreus - OTAS - Split - Paranid, 351.84641986087206, 0.02842149141080993
Terran - Paranid - Pirates - Split, 258.26000586802365, 0.04259273503471239

3 or less enemies option are listed below

In [17]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) <= 3:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

Terran - Paranid - Yaki, 195.74987462921908, 0.06130272125450849
Terran - Pirates - Yaki, 162.44393680858633, 0.07387163987622414

4 enemies

In [18]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 4:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

Argon - TerraCorp - Terran - Yaki, 6380.360232707166, 0.0017240405868639702
Boron - TerraCorp - Terran - Yaki, 1167.9560442782372, 0.009418162655939403
Terran - Yaki - TerraCorp - Atreus, 174.7037201981463, 0.06296374220036051
Terran - TerraCorp - OTAS - Yaki, 178.8162569639823, 0.06151565963163882
Terran - TerraCorp - Duke's - Yaki, 1169.8407341545965, 0.009402989380387168
Terran - OTAS - Strong Arms - Yaki, 281.9783667942631, 0.03901008479854703
Argon - OTAS - Terran - Yaki, 83.24190571176662, 0.13214498041513603
Boron - Atreus - Terran - Yaki, 362.03269977700626, 0.030383995718550952
Boron - OTAS - Terran - Yaki, 78.34237671512544, 0.1404093220199209
Terran - OTAS - Split - Yaki, 121.09694482534422, 0.09083631313626522
Terran - Atreus - OTAS - Yaki, 151.90811995639717, 0.07241219233808815
Terran - Atreus - Duke's - Yaki, 134248.85468449083, 8.19373843140189e-05
Terran - OTAS - Duke's - Yaki, 68.01331847910072, 0.16173302885346058
Terran - NMMC - OTAS - Yaki, 824.8106996204879, 0.013336393435562031
Terran - Paranid - Pirates - Split, 258.26000586802365, 0.04259273503471239

4 enemies but without terran

In [19]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 4 and "Terran" not in least_enemy_set:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

5 enemies but without any major races

In [20]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 5 and set(major_races).intersection(least_enemy_set) == set():
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

Duke's - Strong Arms - Atreus - Yaki - Pirates, 115.80946764695187, 0.08634872608589529
Duke's - Strong Arms - OTAS - Yaki - Pirates, 55.18972548571193, 0.18119314622409022
Duke's - Atreus - TerraCorp - Yaki - Pirates, 280.24981341472886, 0.03568245016171147
Duke's - Atreus - OTAS - Yaki - Pirates, 59.13128817880325, 0.1691152063144921

enemies including Yaki has the following number of possible combos

In [21]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if "Yaki" in least_enemy_set:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        # print(item)
        parsed_least_enemy_set_list += [item]
        
len(parsed_least_enemy_set_list)

116

## Conclusion

- A simple tool is developed
- All 283 possible combos are given with total workload and efficiency
- The only two options to maintain at most 3 enemies (races, workload, efficiency)
    - Terran - Yaki - Paranid, 195.74987462921916, 0.06130272125450846
    - Pirates - Terran - Yaki, 162.4439368085863, 0.07387163987622415
- 4 options to keep good relationship with all 6 major races with least enemies (5) are listed as below:
    - Atreus - Pirates - Duke's - Strong Arms - Yaki, 115.80946764695183, 0.08634872608589532
    - OTAS - Pirates - Duke's - Strong Arms - Yaki, 55.18972548571193, 0.18119314622409022
    - Atreus - TerraCorp - Pirates - Duke's - Yaki, 280.2498134147285, 0.03568245016171151
    - OTAS - Atreus - Pirates - Duke's - Yaki, 59.131288178803246, 0.16911520631449212