# X3FL dynamic relationships

## The relationship

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
all_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Arteus", "OTAS", "Duke's", "Paranid", "Pirates", "Terran", "Yaki"]
# https://imgur.com/nqI0nbO, https://imgur.com/7BhbUMa, by blazenclaw, forum.egosoft.com
try:
    relationship_df = pd.read_csv("relationship.csv", index_col=0)
except:
    relationship_df = pd.read_csv("https://raw.githubusercontent.com/mkmark/X3FL-dynamic-relationships/main/relationship.csv", index_col=0)
relationship_df = pd.DataFrame(relationship_df)
cmap = sns.diverging_palette(5, 250, as_cmap=True)
def color_map(val):
    if val > 0.3:
        val = 0.3
    if val< -0.3:
        val = -0.3
    val = val/0.45+0.5
    cmap_val = cmap(val)
    colorvalue = (int(255*cmap_val[0]),int(255*cmap_val[1]),int(255*cmap_val[2]),cmap_val[3])
    color = 'rgba%s' % str(colorvalue)
    return 'background-color: %s' % color
relationship_df.style.applymap(color_map, subset=pd.IndexSlice[all_races, all_races])\
    .set_properties(**{'width': '40px', 'height': '40px'})\
    .set_caption("Relationship")\
    .set_precision(2)

The problem is simple: given the relationship $\mathbf{R}$, target notority $\mathbf{N}$, find tactics $\mathbf{X}$, which is a vector that represents how much notority point one should get from a race.

$$
\mathbf{R}\mathbf{X}=\mathbf{N}
$$

$$
\mathbf{X}=\mathbf{R}^{-1}\mathbf{N}
$$

Let's first define $\mathbf{N}$ as vectors of 1, since we don't want to lose effort by hitting the notoriety ceiling.

In [3]:
def get_X(races):
    R = np.array(relationship_df.loc[races, races])
    invR = np.linalg.inv(R) 
    N = np.ones(len(races))
    X = invR@N
    return X

def get_X_df(races):
    X = get_X(races)
    return pd.DataFrame(list(X)+[sum(X)]+[len(races)/sum(X)], index=races+['sum', 'efficiency']).transpose()

These races selected are the control group of races that are friends, but not necessarily to be the only friends as an notoriety overflow is allowed, which will make $N_i > 1$

To calculate the possible solutions, one has to recuse through all subsets and check if some get possible solutions, see below

## Example solutions

Let's see if there is a solution for all the races

The number for each race represents how much effort you will have to put with that race to get 1 notoriety point for each race assuming you're to be friend with all these selected race.

The sum is the total workload of current tactic.

The efficiency is the sum of actual gained notoriety points (equal the number of races selected) divided by total workload.

In [4]:
get_X_df(all_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Arteus,OTAS,Duke's,Paranid,Pirates,Terran,Yaki,sum,efficiency
0,0.413665,0.834924,0.400697,-0.602183,-0.088362,-0.559179,-0.534538,-0.60492,-0.931595,-1.156118,-0.343422,-1.250485,-1.373975,-1.513874,-1.536987,-8.846352,-1.695614

Unfortunately there is not a solution as one would have to get negative points from races. The problem is, when actively losing points of a race, the notoriety points of enemy races does not increase accordingly. However if that is true, we can see a path that you do some missions for some races but keep robbing other races and one day you will find yourself master of diplomacy with all races - too good to be true for those races you robbed.

Let's get results of some interesting races combo.

In [5]:
commonwealth_races = ["Teladi", "Argon", "Boron", "Split", "Paranid"]
major_races = ["Teladi", "Argon", "Boron", "Split", "Paranid", "Terran"]
all_but_yaki_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Arteus", "OTAS", "Duke's", "Paranid", "Pirates", "Terran"]
all_but_yaki_terran_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Arteus", "OTAS", "Duke's", "Paranid", "Pirates"]
all_but_yaki_terran_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Arteus", "OTAS", "Duke's", "Paranid"]
all_but_yaki_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Arteus", "OTAS", "Duke's", "Paranid", "Terran"]
all_but_terran_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Arteus", "OTAS", "Duke's", "Paranid", "Yaki"]
all_but_teladi_yaki_terran_pirates_races = ["NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Arteus", "OTAS", "Duke's", "Paranid"]

All commonwealth races, no problem

In [6]:
get_X_df(commonwealth_races)

   Teladi     Argon     Boron     Split   Paranid       sum  efficiency
0     1.0  1.428571  1.428571  1.428571  1.428571  6.714286    0.744681

All major races, no problem

In [7]:
get_X_df(major_races)

,Teladi,Argon,Boron,Split,Paranid,Terran,sum,efficiency
0,1.0,3.823529,3.823529,3.823529,3.823529,5.588235,21.882353,0.274194

All but Yaki, not an option

In [8]:
get_X_df(all_but_yaki_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Arteus,OTAS,Duke's,Paranid,Pirates,Terran,sum,efficiency
0,0.904032,0.639788,0.11671,-0.844907,-0.910454,-0.926158,-1.022721,-0.939952,-1.63911,-1.890735,-0.748691,-1.995335,-2.18678,-2.677981,-14.122294,-0.99134

According to calculation just 3 enemies seems not sufficient

In [9]:
get_X_df(all_but_yaki_terran_pirates_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Arteus,OTAS,Duke's,Paranid,sum,efficiency
0,-0.172497,7.816643,7.790471,13.40212,12.541359,10.368289,14.311163,17.984757,15.620415,18.506517,22.635896,21.638802,162.443937,0.073872

which is actually not the case since a subset is sufficient, just teledi notoriety points got overflowed doesn't render it illegal

In [10]:
get_X_df(all_but_teladi_yaki_terran_pirates_races)

,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Arteus,OTAS,Duke's,Paranid,sum,efficiency
0,7.780909,7.781132,13.390187,12.529926,10.355119,14.294295,17.964491,15.606104,18.489653,22.60303,21.615287,162.410133,0.06773

In [11]:
R = np.array(relationship_df.loc[all_races, all_but_teladi_yaki_terran_pirates_races])
R@get_X(all_but_teladi_yaki_terran_pirates_races)

array([  1.16713635,   1.        ,   1.        ,   1.        ,
         1.        ,   1.        ,   1.        ,   1.        ,
         1.        ,   1.        ,   1.        ,   1.        ,
       -24.73473903, -40.03737145, -40.29544981])

thus our complete solution

In [12]:
# https://stackoverflow.com/questions/26332412/python-recursive-function-to-display-all-subsets-of-given-set
def subs(l):
    if l == []:
        return [[]]

    x = subs(l[1:])

    return x + [[l[0]] + y for y in x]

def get_X_optimal_sub(races):
    possible_solution_racess = []
    possible_solution_Xs = []
    possible_solution_workloads = []
    for sub_races in subs(races):
        X = get_X(sub_races)
        R_all = np.array(relationship_df.loc[races, sub_races])
        N_all = R_all@X
        min_N_all = min(N_all)
        if min_N_all>0:
            if min_N_all<1:
                X = [x*1/min_N_all for x in X]
            possible_solution_racess += [sub_races]
            possible_solution_Xs += [X]
            possible_solution_workloads += [sum(X)]
    if len(possible_solution_workloads)>0:
        min_index = possible_solution_workloads.index(min(possible_solution_workloads))
        optiaml_solution_races = possible_solution_racess[min_index]
        optiaml_solution_X = possible_solution_Xs[min_index]
        if min(optiaml_solution_X)>0:
            return pd.DataFrame(list(optiaml_solution_X)+[sum(optiaml_solution_X)]+[len(optiaml_solution_races)/sum(optiaml_solution_X)], index=optiaml_solution_races+['sum', 'efficiency']).transpose()

In [13]:
get_X_optimal_sub(all_but_yaki_terran_pirates_races)

,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Arteus,OTAS,Duke's,Paranid,sum,efficiency
0,7.780909,7.781132,13.390187,12.529926,10.355119,14.294295,17.964491,15.606104,18.489653,22.60303,21.615287,162.410133,0.06773

In [14]:
get_X_optimal_sub(all_but_yaki_races)

## Let's explore all possibilities

Turned out there are the following number of possible combos.

In [15]:
least_enemy_set_list = []
for sub_races in subs(all_races):
    if sub_races != []:
        X = get_X(sub_races)
        if min(X)>0:
            R_all = np.array(relationship_df.loc[all_races, sub_races])
            N_all = R_all@X
            enemy_set = set([race for i, race in enumerate(all_races) if N_all[i]<=0])
            if enemy_set == set():
                continue
            is_duplicate = False
            for i in reversed(range(len(least_enemy_set_list))):
                least_enemy_set = least_enemy_set_list[i]
                if least_enemy_set.issubset(enemy_set):
                    is_duplicate = True
                    break
                if enemy_set.issubset(least_enemy_set):
                    least_enemy_set_list.pop(i)
            if not is_duplicate:
                least_enemy_set_list = least_enemy_set_list + [enemy_set]
                
len(least_enemy_set_list)

283

which is the following

In [16]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    workload = sum(get_X(list(set(all_races) - least_enemy_set)))
    efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
    item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
    print(item)
    parsed_least_enemy_set_list += [item]

TerraCorp - Paranid - Split - Strong Arms - NMMC - Argon - Boron - Teladi - Pirates, 1758.3749999999852, 0.003412241416080216
TerraCorp - OTAS - Split - Arteus - Strong Arms - NMMC - Teladi - Terran - Pirates, 544.4800762025719, 0.011019686967880384
TerraCorp - Paranid - OTAS - Split - Arteus - NMMC - Argon - Teladi - Pirates, 552.819376753803, 0.010853454586256459
TerraCorp - OTAS - Split - Arteus - NMMC - Argon - Teladi - Terran, 506.4886644461154, 0.013820644945045398
TerraCorp - OTAS - Arteus - NMMC - Argon - Teladi - Terran - Pirates, 15209.636542240081, 0.0004602345348989541
TerraCorp - OTAS - Arteus - NMMC - Boron - Teladi - Terran - Pirates, 618.5248369292572, 0.011317249659289938
TerraCorp - Paranid - OTAS - Arteus - NMMC - Teladi - Terran - Pirates, 11356.756358878036, 0.0006163731772345206
OTAS - Split - Arteus - Strong Arms - NMMC - Argon - Boron - Teladi - Pirates, 479.0827338129494, 0.012523932875323803
Paranid - OTAS - Strong Arms - NMMC - Argon - Teladi - Terran - Pirates, 932.6163034179455, 0.007505766277455906
Paranid - Split - Arteus - Strong Arms - NMMC - Boron - Teladi - Pirates, 419.99806573128507, 0.0166667434237152
OTAS - Split - Strong Arms - NMMC - Boron - Teladi - Terran - Pirates, 667.171465805266, 0.010492055429185815
Split - Arteus - NMMC - Argon - Boron - Teladi - Terran - Pirates, 13741.668032816144, 0.0005093995855003534
TerraCorp - Duke's - Strong Arms - Argon - Yaki - Pirates, 21962.27452879591, 0.0004097936207927653
TerraCorp - Duke's - Strong Arms - Boron - Yaki - Pirates, -27986.687748995115, -0.00032158146332708317
Duke's - Arteus - Strong Arms - Boron - Teladi - Terran - Pirates, 1207.8449228464033, 0.006623366831850588
Duke's - Split - Strong Arms - Yaki - Pirates, 157.46622151477658, 0.06350568333832537
Duke's - Arteus - Strong Arms - Yaki - Pirates, 115.80946764695186, 0.0863487260858953
Duke's - OTAS - Strong Arms - Yaki - Pirates, 55.18972548571193, 0.18119314622409022
Duke's - Paranid - Strong Arms - Yaki - Pirates, 76.97766506101127, 0.1299078114680948
TerraCorp - Split - Arteus - Strong Arms - Argon - Boron - Yaki, 173.9153947095792, 0.045999378107724025
TerraCorp - Split - Strong Arms - Argon - Boron - Yaki - Pirates, 104.81626022629128, 0.07632403581971477
TerraCorp - OTAS - Split - Arteus - Strong Arms - Argon - Teladi - Terran, 549.3881752701232, 0.012741446421845975
TerraCorp - OTAS - Split - Arteus - Strong Arms - Argon - Yaki, 651.6304134884866, 0.01227689781569925
TerraCorp - Paranid - Split - Arteus - Strong Arms - Argon - Teladi - Pirates, 4618.21149227059, 0.0015157382921323034
TerraCorp - Duke's - OTAS - Split - Strong Arms - Argon - Yaki, 98.13427898713853, 0.08152095356046259
TerraCorp - Paranid - Split - Strong Arms - Argon - Teladi - Terran, 273.67850400552703, 0.029231378726911037
TerraCorp - Paranid - Split - Strong Arms - Argon - Yaki, 279.8145252101986, 0.032164163004901686
TerraCorp - Duke's - OTAS - Arteus - Strong Arms - Argon - Teladi - Pirates, 5696.305164318968, 0.0012288667474922574
TerraCorp - Duke's - Strong Arms - Argon - Teladi - Terran - Pirates, 4586.925917628955, 0.001744087465911224
TerraCorp - Split - Arteus - Strong Arms - Boron - Yaki - Pirates, 234.69666324670126, 0.03408655193189008
TerraCorp - Paranid - Split - Strong Arms - Boron - Yaki, 249.5556902805675, 0.03606409451085482
TerraCorp - Duke's - OTAS - Arteus - Strong Arms - Boron - Teladi - Pirates, 4809.400000000194, 0.0014554830124339246
TerraCorp - Paranid - Arteus - Strong Arms - Boron - Yaki, 218.4963811703535, 0.04119061355521049
TerraCorp - Duke's - Strong Arms - Boron - Teladi - Terran - Pirates, 3128.706253442924, 0.0025569674338064034
TerraCorp - Duke's - OTAS - Split - Arteus - Strong Arms - Teladi - Pirates, 6182.190019193535, 0.0011322848340583921
TerraCorp - Duke's - OTAS - Split - Arteus - Strong Arms - Teladi - Terran, 545.4800762025704, 0.012832732679681718
TerraCorp - Duke's - OTAS - Split - Arteus - Strong Arms - Yaki, 976.8241744230513, 0.00818980550386675
TerraCorp - Duke's - Paranid - Split - Strong Arms - Teladi - Pirates, 457.298076209969, 0.017494060036952332
TerraCorp - Duke's - Paranid - Split - Strong Arms - Teladi - Terran, 339.334158211664, 0.023575581197487046
TerraCorp - Duke's - Paranid - Split - Strong Arms - Yaki, 388.44837539989913, 0.023169101919231085
Paranid - Split - Strong Arms - Yaki - Pirates, 33.36325720772324, 0.299730926681976
TerraCorp - Split - Strong Arms - Yaki - Terran, 136.35171232100825, 0.07333974637925585
TerraCorp - Duke's - Paranid - OTAS - Arteus - Strong Arms - Teladi - Pirates, 5310.724845995737, 0.001318087493325505
TerraCorp - Duke's - Paranid - Arteus - Strong Arms - Yaki, 178.26712673585936, 0.05048603275765707
TerraCorp - Duke's - Paranid - OTAS - Strong Arms - Teladi - Terran, 5079.689853461043, 0.001574899301095953
TerraCorp - Duke's - Paranid - OTAS - Split - Argon - Boron - Teladi, 1849.0000000000036, 0.003785830178474844
TerraCorp - OTAS - Split - Argon - Boron - Yaki, 332.0706267151562, 0.027102668155350056
TerraCorp - Duke's - Split - Argon - Boron - Yaki - Pirates, 173.20759890325064, 0.046187350039235846
TerraCorp - Paranid - OTAS - Arteus - Argon - Boron - Teladi, 468.0994629567662, 0.017090384914068748
TerraCorp - Duke's - Arteus - Argon - Boron - Yaki, 162.02635189908446, 0.05554652002290039
TerraCorp - Arteus - Argon - Boron - Yaki - Pirates, 86.26813160155812, 0.1043258945443238
TerraCorp - Duke's - OTAS - Argon - Boron - Yaki, 212.20807725123083, 0.04241120374199988
TerraCorp - Duke's - Paranid - OTAS - Split - Arteus - Argon - Teladi, 553.8193767537982, 0.01263949997746624
TerraCorp - Paranid - Split - Arteus - Argon - Yaki, 208.1386424106802, 0.04324040887247655
TerraCorp - Duke's - OTAS - Split - Argon - Teladi - Terran, 377.2700733955063, 0.021204968440773464
TerraCorp - Duke's - OTAS - Arteus - Argon - Yaki, 178.37058539283538, 0.050456749806470635
TerraCorp - Duke's - Paranid - Arteus - Argon - Yaki, 1768.0392033763737, 0.005090384864098578
TerraCorp - Paranid - OTAS - Argon - Teladi - Terran - Pirates, 938.3318158680357, 0.00852576867235321
TerraCorp - Yaki - Terran - Argon, 6380.360232706906, 0.0017240405868640405
TerraCorp - Duke's - OTAS - Arteus - Boron - Yaki, 128.9264071645912, 0.06980726600494139
TerraCorp - Duke's - Paranid - Arteus - Boron - Teladi - Pirates, 491.59160026185964, 0.016273671063009584
TerraCorp - Duke's - Paranid - OTAS - Boron - Yaki, 1089.6132241637495, 0.008259811647300143
TerraCorp - Duke's - Paranid - Boron - Yaki - Pirates, 290.2774436244244, 0.031004820380203756
TerraCorp - Boron - Terran - Yaki, 1167.9560442782458, 0.009418162655939331
TerraCorp - Paranid - OTAS - Split - Arteus - Yaki, 1904.1055019115977, 0.0047266288506412
TerraCorp - Duke's - Paranid - Split - Arteus - Yaki, 160.61475461006657, 0.05603470255176621
TerraCorp - Duke's - Paranid - OTAS - Split - Yaki, 1971.3466904820116, 0.00456540701006753
Paranid - OTAS - Split - Yaki - Pirates, 101.12776908947649, 0.09888480770452016
TerraCorp - Paranid - OTAS - Split - Teladi - Terran, 373.1164766175058, 0.024121154020293245
TerraCorp - Duke's - Paranid - Arteus - Teladi - Terran, 421.45590958852705, 0.021354546929444693
TerraCorp - Duke's - Arteus - Yaki - Pirates, 280.24981341472846, 0.03568245016171152
TerraCorp - Arteus - Terran - Yaki, 174.7037201981462, 0.06296374220036055
TerraCorp - Yaki - OTAS - Terran, 178.81625696398223, 0.061515659631638846
TerraCorp - Yaki - Duke's - Terran, 1169.8407341545892, 0.009402989380387227
Split - Arteus - Strong Arms - Argon - Boron - Teladi - Terran - Pirates, 4439.010873837202, 0.0015769278785183532
Duke's - Paranid - OTAS - Split - Strong Arms - Argon - Boron - Teladi, 212.41256502601, 0.032954735983452055
OTAS - Split - Strong Arms - Argon - Boron - Yaki, 213.3450831947424, 0.04218517654697839
Duke's - Paranid - Split - Strong Arms - Argon - Boron - Teladi - Pirates, 276.5703951029476, 0.02531001193166172
Paranid - Split - Strong Arms - Argon - Boron - Yaki, 306.8723441740398, 0.029328156058584846
Duke's - Paranid - Arteus - Strong Arms - Argon - Boron - Teladi - Pirates, 205.22185473152695, 0.03410942761996505
Arteus - Strong Arms - Argon - Boron - Yaki - Pirates, 541.0530212038624, 0.01663422926643063
Duke's - OTAS - Strong Arms - Argon - Boron - Yaki, 286.0935262930937, 0.03145824415048031
Paranid - Strong Arms - Argon - Boron - Yaki - Pirates, 237.39847151003937, 0.037910943329807406
Paranid - Split - Arteus - Strong Arms - Argon - Teladi - Terran, 546.9979359392296, 0.01462528370653447
Split - Arteus - Strong Arms - Argon - Yaki - Pirates, 991.9891228480299, 0.00907268012592793
Paranid - OTAS - Split - Strong Arms - Argon - Teladi - Pirates, 530.1171330397459, 0.015091004424111293
OTAS - Split - Strong Arms - Argon - Yaki - Pirates, 60.49766195950055, 0.14876607968792158
Duke's - OTAS - Arteus - Strong Arms - Argon - Yaki, 270.3278261348859, 0.03329291005177268
Paranid - OTAS - Arteus - Strong Arms - Argon - Yaki, 424.0088317670516, 0.02122597296497955
Duke's - Paranid - Arteus - Strong Arms - Argon - Yaki, 686.7486867347411, 0.013105230739926088
Paranid - Arteus - Strong Arms - Argon - Yaki - Pirates, 265.79668730108455, 0.03386046715399856
Arteus - Strong Arms - Argon - Yaki - Terran, 803.4939920433739, 0.01244564377459612
Duke's - Paranid - OTAS - Strong Arms - Argon - Yaki, 103.44269295968117, 0.08700469547431376
Paranid - OTAS - Strong Arms - Argon - Yaki - Pirates, 280.66201815718864, 0.032067039420201934
Duke's - Paranid - Strong Arms - Argon - Teladi - Terran - Pirates, 3014.707642960354, 0.0026536569868328046
Paranid - OTAS - Split - Strong Arms - Boron - Teladi - Pirates, 15020.894836972788, 0.0005325914392469223
OTAS - Split - Strong Arms - Boron - Yaki - Pirates, 172.51953062998976, 0.05216800652734615
Duke's - OTAS - Arteus - Strong Arms - Boron - Yaki, 340.74476612109424, 0.026412731448387294
Duke's - Paranid - OTAS - Strong Arms - Boron - Teladi - Terran, 329.23742001911046, 0.02429857456523515
Duke's - Paranid - OTAS - Strong Arms - Boron - Yaki, 68.29144410809995, 0.13178810490159956
Duke's - Paranid - Split - Arteus - Strong Arms - Teladi - Terran, 270.7542809044906, 0.02954708591596387
Paranid - Split - Arteus - Strong Arms - Yaki, 137.9984291094373, 0.07246459299960344
Split - Arteus - Strong Arms - Yaki - Terran, 1192.849464595722, 0.008383287495031217
Paranid - OTAS - Split - Strong Arms - Yaki, 93.0823854016161, 0.10743171177719281
Yaki - Strong Arms - OTAS - Terran, 281.97836679426337, 0.039010084798546986
Split - Arteus - Argon - Boron - Yaki - Pirates, 122.9202563003893, 0.07321820073337658
Duke's - OTAS - Split - Argon - Boron - Yaki, 5387.56155787962, 0.0016705145552976524
OTAS - Arteus - Argon - Boron - Yaki, 90.84472765587314, 0.11007793471384243
Duke's - Paranid - Arteus - Argon - Boron - Teladi - Terran, 655.881248534826, 0.012197329955493027
Paranid - Arteus - Argon - Boron - Yaki, 151.03602500598714, 0.06620936958320768
Paranid - OTAS - Argon - Boron - Yaki, 158.85664085520477, 0.06294983921455846
OTAS - Argon - Boron - Teladi - Terran - Pirates, 2202.7785586151776, 0.004085748866948313
OTAS - Argon - Boron - Yaki - Pirates, 245.92049081835668, 0.04066354929075944
Duke's - Paranid - Argon - Boron - Teladi - Terran - Pirates, 1686.4119568134283, 0.0047437993828722946
Duke's - Paranid - Argon - Boron - Yaki - Pirates, 1059.3526775489104, 0.00849575423816727
Duke's - OTAS - Split - Arteus - Argon - Yaki, 1568.2191092769972, 0.00573899396248864
OTAS - Split - Arteus - Argon - Yaki - Pirates, 144.32584237259564, 0.06235889465148831
Duke's - Paranid - Split - Arteus - Argon - Teladi - Pirates, 536.6466354810001, 0.014907388719263179
Duke's - Paranid - Split - Arteus - Argon - Yaki, 389.46800586681445, 0.02310844501840213
Split - Arteus - Argon - Yaki - Terran, 351.5451471941189, 0.028445848505705935
Paranid - OTAS - Split - Argon - Yaki, 678.826965749411, 0.014731294578081774
OTAS - Split - Argon - Teladi - Terran - Pirates, 988.451435127247, 0.00910515143198856
Paranid - Split - Argon - Yaki - Pirates, 303.5286936670967, 0.03294581437815487
Paranid - OTAS - Arteus - Argon - Yaki - Pirates, 298.9450398277709, 0.030105868306713187
Duke's - Arteus - Argon - Yaki - Pirates, 8829.799694479785, 0.0011325285222780082
Duke's - OTAS - Argon - Yaki - Pirates, 110.42763748844386, 0.0905570401345088
Yaki - OTAS - Argon - Terran, 83.2419057117666, 0.13214498041513606
Duke's - OTAS - Split - Arteus - Boron - Yaki, 2670.634933849376, 0.003369985124484109
OTAS - Split - Arteus - Boron - Yaki - Pirates, 182.99089269451085, 0.04918277553312341
Paranid - Split - Arteus - Boron - Yaki, 114.54905859460693, 0.08729884053775025
Paranid - OTAS - Split - Boron - Yaki, 170.5330098772414, 0.05863967338170202
Paranid - Split - Boron - Yaki - Pirates, 103.49594629999035, 0.09662214180847518
Paranid - OTAS - Arteus - Boron - Yaki, 124.27666026212, 0.08046563191276905
Duke's - Paranid - Arteus - Boron - Yaki, 304.84229922610746, 0.03280384653109707
Duke's - Arteus - Boron - Yaki - Pirates, 110.46725937249491, 0.09052455955551557
Paranid - Arteus - Boron - Yaki - Pirates, 105.39212222937897, 0.09488375211038699
Arteus - Boron - Terran - Yaki, 362.03269977700575, 0.030383995718550993
Duke's - OTAS - Boron - Yaki - Pirates, 79.85484550283891, 0.12522721616992535
Paranid - OTAS - Boron - Yaki - Pirates, -24369.07468586159, -0.0004103561636585973
Boron - OTAS - Yaki - Terran, 78.34237671512547, 0.14040932201992085
Duke's - Split - Arteus - Teladi - Terran - Pirates, 701.280196422671, 0.012833671970077391
Duke's - Split - Arteus - Yaki - Pirates, 213.01703964177722, 0.046944601318357565
Paranid - Split - Arteus - Yaki - Pirates, 79.85944440538404, 0.12522000465264707
Duke's - OTAS - Split - Yaki - Pirates, 74.26441173266068, 0.13465399868780095
Yaki - OTAS - Split - Terran, 121.09694482534445, 0.09083631313626504
Duke's - Paranid - Split - Yaki - Pirates, 74.31094030474351, 0.1345696873029834
Duke's - Paranid - OTAS - Arteus - Teladi - Terran, 291.005556391615, 0.03092724452274178
Duke's - Paranid - OTAS - Arteus - Yaki, 363.6685152648188, 0.02749756874806203
Duke's - OTAS - Arteus - Yaki - Pirates, 59.13128817880326, 0.1691152063144921
Arteus - Yaki - OTAS - Terran, 151.90811995639726, 0.07241219233808811
Duke's - Paranid - Arteus - Yaki - Pirates, 53.143905564299914, 0.18816833075809214
Arteus - Yaki - Duke's - Terran, 134248.85468464228, 8.193738431392645e-05
Duke's - Paranid - OTAS - Yaki - Pirates, 75.78080364066749, 0.13195954014181946
Duke's - OTAS - Teladi - Terran - Pirates, 763.7443057890882, 0.013093387308031269
Duke's - Yaki - OTAS - Terran, 68.01331847910072, 0.16173302885346058
Paranid - Yaki - Terran, 195.74987462921922, 0.06130272125450844
Yaki - Terran - Pirates, 162.44393680858633, 0.07387163987622414
Duke's - Split - Arteus - Strong Arms - Terran - Pirates, 468.6994809308721, 0.01920206948410809
TerraCorp - Duke's - OTAS - Split - Strong Arms - Argon - Pirates, 224.27928473468288, 0.03566981234786713
TerraCorp - Duke's - OTAS - Split - Strong Arms - Argon - Terran, 215.95094776927442, 0.03704544982385228
TerraCorp - Duke's - Paranid - Split - Strong Arms - Argon - Pirates, 218.83273963960954, 0.03655760108462294
TerraCorp - Duke's - Paranid - Split - Strong Arms - Argon - Terran, 217.04741897650263, 0.03685830514697838
TerraCorp - OTAS - Arteus - NMMC - Strong Arms - Argon - Yaki - Pirates, 1905.2492056914216, 0.003674060054238246
TerraCorp - Duke's - Paranid - Split - Strong Arms - Boron - Pirates, 211.91537667112866, 0.03775091796389648
TerraCorp - OTAS - Arteus - NMMC - Strong Arms - Boron - Yaki - Pirates, 1074.256484149857, 0.006516134743687068
TerraCorp - Duke's - Paranid - Arteus - Strong Arms - Boron - Pirates, 216.32644429167195, 0.03698114683202409
Paranid - OTAS - Arteus - NMMC - Strong Arms - Yaki - Pirates, 995.0257432779225, 0.008039992989171844
TerraCorp - Duke's - Paranid - Arteus - Strong Arms - Terran, 1044.651320946403, 0.008615314813220587
TerraCorp - Duke's - Paranid - Split - Arteus - Argon - Boron, 260.2444408788874, 0.030740330025812314
TerraCorp - Duke's - Split - Arteus - Argon - Boron - Pirates, 171.11586456023778, 0.046751947988924
TerraCorp - Duke's - OTAS - Split - Argon - Boron - Pirates, 104.17922628063695, 0.07679074116417106
TerraCorp - Duke's - OTAS - Arteus - Argon - Boron, 1547.262082256786, 0.005816726269716953
TerraCorp - Paranid - OTAS - Arteus - NMMC - Argon - Boron, 1081.947389671959, 0.007394074865715569
TerraCorp - Duke's - Paranid - Arteus - Argon - Boron - Pirates, 52.33267063121785, 0.1528681778228949
TerraCorp - Duke's - Arteus - Argon - Boron - Terran, 132.34294567251212, 0.06800513585567952
TerraCorp - Duke's - Paranid - OTAS - Argon - Boron - Pirates, 299.2613875922304, 0.026732483145806615
TerraCorp - Duke's - OTAS - Argon - Boron - Terran, 103.99794312386913, 0.0865401731001578
TerraCorp - Duke's - Argon - Boron - Terran - Pirates, 1425.1742672713208, 0.0063150171924109015
TerraCorp - Duke's - OTAS - Split - Arteus - Argon - Pirates, 96.53996750742762, 0.08286723319421559
TerraCorp - OTAS - Split - NMMC - Argon - Yaki - Pirates, 434.94268581309296, 0.01839322802967613
TerraCorp - Duke's - Paranid - OTAS - Arteus - Argon - Pirates, 252.0036524389211, 0.0317455716318992
TerraCorp - Duke's - OTAS - Arteus - Argon - Terran, 93.73275975771789, 0.09601765725519404
TerraCorp - Duke's - Paranid - Arteus - Argon - Terran, 128.76480834453994, 0.06989487357382947
TerraCorp - Duke's - Paranid - OTAS - Argon - Terran, 298.80538848208784, 0.03011993875250852
TerraCorp - Paranid - OTAS - NMMC - Argon - Terran - Pirates, 6583.131011726924, 0.0012152272202617755
TerraCorp - Duke's - Paranid - OTAS - Split - Arteus - Boron, 168.52719129210803, 0.04747008443363663
TerraCorp - Duke's - OTAS - Split - Arteus - Boron - Pirates, 144.99133997529793, 0.055175709124165306
TerraCorp - Duke's - OTAS - Arteus - Boron - Terran, 106.30561486474951, 0.08466156760816931
TerraCorp - Duke's - Paranid - OTAS - Boron - Terran, 120.68555809056852, 0.07457396015226567
TerraCorp - Duke's - Paranid - Split - Arteus - Pirates, 497.0535194940312, 0.018106702089468005
TerraCorp - Paranid - OTAS - Split - NMMC - Terran, 2505.258500252824, 0.0035924436536555982
TerraCorp - Duke's - Split - Terran - Pirates, 633.2902612752434, 0.01579054757586704
TerraCorp - Paranid - Split - NMMC - Yaki - Pirates, 1932.8745328668988, 0.004656277397711337
TerraCorp - Split - NMMC - Yaki - Terran, 5771.820407590541, 0.0017325556399587494
TerraCorp - Duke's - Paranid - OTAS - Arteus - Terran, 73.66057299503645, 0.12218205254263305
TerraCorp - Duke's - Arteus - Terran - Pirates, 93.52379886462637, 0.10692465577103832
TerraCorp - Duke's - OTAS - Terran - Pirates, 114.82559841822982, 0.08708859468406124
TerraCorp - Duke's - Paranid - Terran - Pirates, 304.5529752978412, 0.03283501003469226
Duke's - OTAS - Split - Strong Arms - Argon - Boron - Pirates, 108.11800528520368, 0.07399322600243002
Duke's - Paranid - OTAS - Strong Arms - Argon - Boron - Pirates, 181.91808462473534, 0.043975836797658555
Duke's - Paranid - OTAS - Split - Arteus - Strong Arms - Argon, 3700.447951931445, 0.002161900425007845
Duke's - OTAS - Split - Arteus - Strong Arms - Argon - Pirates, 107.50773142205608, 0.07441325283475134
Duke's - Paranid - Split - Arteus - Strong Arms - Argon - Terran, 372.7913262493953, 0.021459726760509563
Paranid - OTAS - Split - NMMC - Strong Arms - Argon - Pirates, 1808.0046528838607, 0.004424767373933241
Duke's - Paranid - OTAS - Arteus - Strong Arms - Argon - Pirates, 179.49442107032866, 0.044569630366759296
Duke's - Paranid - OTAS - Split - Arteus - Strong Arms - Boron, 214.269429666892, 0.037336170691437305
Duke's - OTAS - Split - Arteus - Strong Arms - Boron - Pirates, 385.0986045412433, 0.020773900257390353
Split - Arteus - NMMC - Strong Arms - Boron - Yaki - Pirates, 697.5180293934947, 0.011469237586526838
Paranid - Arteus - NMMC - Strong Arms - Boron - Yaki, 1474.9345580410745, 0.006101965643786458

Duke's - OTAS - Split - Terran - Pirates, 70.89051137474675, 0.14106260211803592
Duke's - OTAS - Arteus - Terran - Pirates, 90.35429550955729, 0.11067542437915685
Duke's - Paranid - Arteus - Terran - Pirates, 76.37822886976058, 0.13092736173618144
Duke's - Paranid - OTAS - Terran - Pirates, 63.728009520020535, 0.1569168733703889
Yaki - NMMC - OTAS - Terran, 824.8106996204907, 0.013336393435561984
TerraCorp - Paranid - Split - Arteus - Strong Arms - Argon - Boron, 590.0780969817795, 0.013557527454280387
TerraCorp - Paranid - OTAS - Split - Strong Arms - Argon - Boron, 590.0780969817794, 0.013557527454280389
TerraCorp - Paranid - OTAS - Arteus - Strong Arms - Argon - Boron, 2321.584916423479, 0.0034459217681016
TerraCorp - OTAS - Arteus - Argon - Boron - Terran, 43.58647562832938, 0.20648606867746785
TerraCorp - Arteus - Argon - Boron - Terran - Pirates, 82.74798147656632, 0.1087639823884857
TerraCorp - Paranid - OTAS - Split - Strong Arms - Argon - Pirates, 1262.818534952372, 0.006335035302836861
TerraCorp - Paranid - OTAS - Strong Arms - Argon - Terran - Pirates, 1262.8185349523749, 0.006335035302836846
TerraCorp - Paranid - Split - Arteus - Strong Arms - Boron - Pirates, 744.87556233063, 0.010740048948537013
TerraCorp - Paranid - Split - Strong Arms - Boron - Terran, 6453.342833633098, 0.001394626046069396
TerraCorp - OTAS - Split - Arteus - Argon - Boron - Pirates, 148.82106619294538, 0.05375583043887121
TerraCorp - Split - Arteus - Argon - Boron - Terran, 727.5860329816269, 0.0123696712031679
TerraCorp - OTAS - Split - Argon - Boron - Terran, 116.22918298976725, 0.0774332208873253
TerraCorp - Paranid - Split - Argon - Boron - Terran, 396.5393820423195, 0.02269635856506051
TerraCorp - Split - Argon - Boron - Terran - Pirates, 1369.0766935934375, 0.006573773435860307
TerraCorp - OTAS - Argon - Boron - Terran - Pirates, 87.81553018669783, 0.1024875666168136
TerraCorp - Paranid - Argon - Boron - Terran - Pirates, 428.6790773254357, 0.020994726535644676
TerraCorp - Split - Arteus - Argon - Terran - Pirates, 332.81291307644966, 0.027042219957170446
TerraCorp - OTAS - Split - Argon - Terran - Pirates, 112.14391202892524, 0.08025402215038327
TerraCorp - Paranid - OTAS - Arteus - Argon - Terran, 2598.714606527614, 0.0034632506306745796
TerraCorp - Paranid - Arteus - Argon - Terran - Pirates, 659.8955238051531, 0.013638522577185149
TerraCorp - Split - Arteus - Boron - Terran - Pirates, 1802.576766664837, 0.004992852546664061
TerraCorp - OTAS - Split - Boron - Terran - Pirates, 580.7268883704072, 0.015497818648031148
TerraCorp - Paranid - Arteus - Boron - Terran, 897.50117460115, 0.01114204669920795
TerraCorp - Paranid - Split - Arteus - Terran, 613.853148781325, 0.016290541182126174
OTAS - Arteus - Argon - Boron - Terran - Pirates, 70.8406986244444, 0.12704561325280955
Paranid - OTAS - Split - Arteus - Strong Arms - Argon - Pirates, 125.62236361107213, 0.06368292850123458
OTAS - Split - Strong Arms - Argon - Terran - Pirates, 407.6683263178402, 0.02207677030317807
Paranid - OTAS - Split - Strong Arms - Terran, 2292.9122443673314, 0.0043612659073916
Paranid - OTAS - Split - Arteus - Argon - Boron, 74.46106373360051, 0.12086853918981492
OTAS - Split - Arteus - Argon - Boron - Terran, 251.77225805788063, 0.03574659126237397
Paranid - Split - Arteus - Argon - Boron - Pirates, 305.0016336635814, 0.029508038668170065
Paranid - OTAS - Split - Argon - Boron - Pirates, 117.42977885772565, 0.07664154771937472
OTAS - Split - Argon - Boron - Terran - Pirates, 60.47901434292489, 0.14881194903357184
Paranid - OTAS - Arteus - Argon - Boron - Pirates, 2867.9359974521662, 0.0031381453449433575
Paranid - OTAS - Argon - Boron - Terran, 1139.716412933488, 0.008774112477911277
OTAS - Split - Arteus - Argon - Terran - Pirates, 231.2838224682041, 0.03891322749664984
Paranid - OTAS - Split - Argon - Terran, 250.743612121524, 0.03988137490479102
Paranid - OTAS - Arteus - Argon - Terran - Pirates, 405.2034550572108, 0.022211064312690244
Paranid - OTAS - Split - Arteus - Boron - Pirates, 600.5825292105725, 0.01498545089519991
OTAS - Split - Arteus - Boron - Terran - Pirates, 745.7569699599957, 0.012068274736316288
Paranid - Split - Arteus - Boron - Terran, 640.7988442390622, 0.015605521280043555
Paranid - OTAS - Split - Boron - Terran, 136.00306499426458, 0.07352775469009991
Paranid - OTAS - Arteus - Boron - Terran, 443.37646492896477, 0.022554196695131624
Paranid - Arteus - Boron - Terran - Pirates, 289.0665259583395, 0.0345941127802574
Paranid - OTAS - Boron - Terran - Pirates, 814.9343447848855, 0.012270927178360183
Paranid - OTAS - Split - Arteus - Terran, 351.84641986087144, 0.02842149141080998
Paranid - Terran - Pirates - Split, 258.26000586802377, 0.04259273503471238

3 or less enemies option are listed below

In [17]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) <= 3:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

Paranid - Yaki - Terran, 195.74987462921922, 0.06130272125450844
Yaki - Terran - Pirates, 162.44393680858633, 0.07387163987622414

4 enemies

In [18]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 4:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

TerraCorp - Yaki - Terran - Argon, 6380.360232706906, 0.0017240405868640405
TerraCorp - Boron - Terran - Yaki, 1167.9560442782458, 0.009418162655939331
TerraCorp - Arteus - Terran - Yaki, 174.7037201981462, 0.06296374220036055
TerraCorp - Yaki - OTAS - Terran, 178.81625696398223, 0.061515659631638846
TerraCorp - Yaki - Duke's - Terran, 1169.8407341545892, 0.009402989380387227
Yaki - Strong Arms - OTAS - Terran, 281.97836679426337, 0.039010084798546986
Yaki - OTAS - Argon - Terran, 83.2419057117666, 0.13214498041513606
Arteus - Boron - Terran - Yaki, 362.03269977700575, 0.030383995718550993
Boron - OTAS - Yaki - Terran, 78.34237671512547, 0.14040932201992085
Yaki - OTAS - Split - Terran, 121.09694482534445, 0.09083631313626504
Arteus - Yaki - OTAS - Terran, 151.90811995639726, 0.07241219233808811
Arteus - Yaki - Duke's - Terran, 134248.85468464228, 8.193738431392645e-05
Duke's - Yaki - OTAS - Terran, 68.01331847910072, 0.16173302885346058
Yaki - NMMC - OTAS - Terran, 824.8106996204907, 0.013336393435561984
Paranid - Terran - Pirates - Split, 258.26000586802377, 0.04259273503471238

4 enemies but without terran

In [19]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 4 and "Terran" not in least_enemy_set:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

5 enemies but without any major races

In [20]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 5 and set(major_races).intersection(least_enemy_set) == set():
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

Duke's - Arteus - Strong Arms - Yaki - Pirates, 115.80946764695186, 0.0863487260858953
Duke's - OTAS - Strong Arms - Yaki - Pirates, 55.18972548571193, 0.18119314622409022
TerraCorp - Duke's - Arteus - Yaki - Pirates, 280.24981341472846, 0.03568245016171152
Duke's - OTAS - Arteus - Yaki - Pirates, 59.13128817880326, 0.1691152063144921

## Conclusion

- A simple tool is developed
- All 2496 possible combos are given with total workload and efficiency
- The only two options to maintain at most 3 enemies (races, workload, efficiency)
    - Terran - Pirates - Yaki, 162.4439368085864, 0.07387163987622411
    - Terran - Yaki - Paranid, 195.74987462921922, 0.06130272125450844
- 4 options to keep good relationship with all 6 major races with least enemies are listed as below:
    - Yaki - Arteus - Pirates - Strong Arms - Duke's, 115.8094676469517, 0.08634872608589542
    - Yaki - Pirates - Strong Arms - Duke's - OTAS, 55.18972548571192, 0.18119314622409025
    - Yaki - Arteus - Pirates - Duke's - OTAS, 59.13128817880327, 0.16911520631449206
    - Yaki - Arteus - TerraCorp - Pirates - Duke's, 280.2498134147293, 0.035682450161711406