# X3FL dynamic relationships

## The relationship

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
all_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Pirates", "Terran", "Yaki"]
# https://imgur.com/nqI0nbO, https://imgur.com/7BhbUMa, by blazenclaw, forum.egosoft.com
try:
    relationship_df = pd.read_csv("relationship.csv", index_col=0)
except:
    relationship_df = pd.read_csv("https://raw.githubusercontent.com/mkmark/X3FL-dynamic-relationships/main/relationship.csv", index_col=0)
relationship_df = pd.DataFrame(relationship_df)
cmap = sns.diverging_palette(5, 250, as_cmap=True)

def color_map(val):
    if val > 0.3:
        val = 0.3
    if val< -0.3:
        val = -0.3
    val = val/0.45+0.5
    cmap_val = cmap(val)
    colorvalue = (int(255*cmap_val[0]),int(255*cmap_val[1]),int(255*cmap_val[2]),cmap_val[3])
    color = 'rgba%s' % str(colorvalue)
    return 'background-color: %s' % color

relationship_df.style.applymap(color_map, subset=pd.IndexSlice[all_races, all_races])\
    .set_properties(**{'width': '40px', 'height': '40px'})\
    .set_caption("Relationship")\
    .set_precision(2)

The problem is simple: given the relationship $\mathbf{R}$, target notority $\mathbf{N}$, find tactics $\mathbf{X}$, which is a vector that represents how much notority point one should get from a race.

$$
\mathbf{R}\mathbf{X}=\mathbf{N}
$$

$$
\mathbf{X}=\mathbf{R}^{-1}\mathbf{N}
$$

Let's first define $\mathbf{N}$ as vectors of 1, since we don't want to lose effort by hitting the notoriety ceiling.

In [3]:
def get_X(races):
    R = np.array(relationship_df.loc[races, races])
    invR = np.linalg.inv(R) 
    N = np.ones(len(races))
    X = invR@N
    return X

def get_X_df(races):
    X = get_X(races)
    return pd.DataFrame(list(X)+[sum(X)]+[len(races)/sum(X)], index=races+['sum', 'efficiency']).transpose()

These races selected are the control group of races that are friends, but not necessarily to be the only friends as an notoriety overflow is allowed, which will make $N_i > 1$

To calculate the possible solutions, one has to recuse through all subsets and check if some get possible solutions, see below

## Example solutions

Let's see if there is a solution for all the races

The number for each race represents how much effort you will have to put with that race to get 1 notoriety point for each race assuming you're to be friend with all these selected race.

The sum is the total workload of current tactic.

The efficiency is the sum of actual gained notoriety points (equal the number of races selected) divided by total workload.

In [4]:
get_X_df(all_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,Pirates,Terran,Yaki,sum,efficiency
0,0.413665,0.834924,0.400697,-0.602183,-0.088362,-0.559179,-0.534538,-0.60492,-0.931595,-1.156118,-0.343422,-1.250485,-1.373975,-1.513874,-1.536987,-8.846352,-1.695614

Unfortunately there is not a solution as one would have to get negative points from races. The problem is, when actively losing points of a race, the notoriety points of enemy races does not increase accordingly. However if that is true, we can see a path that you do some missions for some races but keep robbing other races and one day you will find yourself master of diplomacy with all races - too good to be true for those races you robbed.

Let's get results of some interesting races combo.

In [5]:
commonwealth_races = ["Teladi", "Argon", "Boron", "Split", "Paranid"]
major_races = ["Teladi", "Argon", "Boron", "Split", "Paranid", "Terran"]
all_but_yaki_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Pirates", "Terran"]
all_but_yaki_terran_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Pirates"]
all_but_yaki_terran_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid"]
all_but_yaki_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Terran"]
all_but_terran_pirates_races = ["Teladi", "NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid", "Yaki"]
all_but_teladi_yaki_terran_pirates_races = ["NMMC", "Goner", "TerraCorp", "Strong Arms", "Argon", "Boron", "Split", "Atreus", "OTAS", "Duke's", "Paranid"]

All commonwealth races, no problem

In [6]:
get_X_df(commonwealth_races)

   Teladi     Argon     Boron     Split   Paranid       sum  efficiency
0     1.0  1.428571  1.428571  1.428571  1.428571  6.714286    0.744681

All major races, no problem

In [7]:
get_X_df(major_races)

,Teladi,Argon,Boron,Split,Paranid,Terran,sum,efficiency
0,1.0,3.823529,3.823529,3.823529,3.823529,5.588235,21.882353,0.274194

All but Yaki, not an option

In [8]:
get_X_df(all_but_yaki_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,Pirates,Terran,sum,efficiency
0,0.904032,0.639788,0.11671,-0.844907,-0.910454,-0.926158,-1.022721,-0.939952,-1.63911,-1.890735,-0.748691,-1.995335,-2.18678,-2.677981,-14.122294,-0.99134

According to calculation just 3 enemies seems not sufficient

In [9]:
get_X_df(all_but_yaki_terran_pirates_races)

,Teladi,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,sum,efficiency
0,-0.172497,7.816643,7.790471,13.40212,12.541359,10.368289,14.311163,17.984757,15.620415,18.506517,22.635896,21.638802,162.443937,0.073872

which is actually not the case since a subset is sufficient, just teledi notoriety points got overflowed doesn't render it illegal

In [10]:
get_X_df(all_but_teladi_yaki_terran_pirates_races)

,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,sum,efficiency
0,7.780909,7.781132,13.390187,12.529926,10.355119,14.294295,17.964491,15.606104,18.489653,22.60303,21.615287,162.410133,0.06773

In [11]:
R = np.array(relationship_df.loc[all_races, all_but_teladi_yaki_terran_pirates_races])
R@get_X(all_but_teladi_yaki_terran_pirates_races)

array([  1.16713635,   1.        ,   1.        ,   1.        ,
         1.        ,   1.        ,   1.        ,   1.        ,
         1.        ,   1.        ,   1.        ,   1.        ,
       -24.73473903, -40.03737145, -40.29544981])

thus our complete solution

In [12]:
# https://stackoverflow.com/questions/26332412/python-recursive-function-to-display-all-subsets-of-given-set
def subs(l):
    if l == []:
        return [[]]

    x = subs(l[1:])

    return x + [[l[0]] + y for y in x]

def get_X_optimal_sub(races):
    possible_solution_racess = []
    possible_solution_Xs = []
    possible_solution_workloads = []
    for sub_races in subs(races):
        X = get_X(sub_races)
        R_all = np.array(relationship_df.loc[races, sub_races])
        N_all = R_all@X
        min_N_all = min(N_all)
        if min_N_all>0:
            if min_N_all<1:
                X = [x*1/min_N_all for x in X]
            possible_solution_racess += [sub_races]
            possible_solution_Xs += [X]
            possible_solution_workloads += [sum(X)]
    if len(possible_solution_workloads)>0:
        min_index = possible_solution_workloads.index(min(possible_solution_workloads))
        optiaml_solution_races = possible_solution_racess[min_index]
        optiaml_solution_X = possible_solution_Xs[min_index]
        if min(optiaml_solution_X)>0:
            return pd.DataFrame(list(optiaml_solution_X)+[sum(optiaml_solution_X)]+[len(races)/sum(optiaml_solution_X)], index=optiaml_solution_races+['sum', 'efficiency']).transpose()

In [13]:
get_X_optimal_sub(all_but_yaki_terran_pirates_races)

,NMMC,Goner,TerraCorp,Strong Arms,Argon,Boron,Split,Atreus,OTAS,Duke's,Paranid,sum,efficiency
0,7.780909,7.781132,13.390187,12.529926,10.355119,14.294295,17.964491,15.606104,18.489653,22.60303,21.615287,162.410133,0.073887

This is actually a very interesting discovery that shows the best strategy to achieve the current relationship, is not just to improving relationship with every one but the enemies, i.e. Yaki, Terran, and Pirates. It also suggests you that you **should not improve relationship with Teladi**, which is quite contrary to intuition.

The logic behind this strategy is that by improving relationship with Teladi it leads to loss of relationship in general. By improving relationship with Teladi's ally, it would already make notoriety points of more than enough to achieve good relationship with Teladi, as verified above.

## Let's explore all possibilities

Turned out there are the following number of possible combos.

In [14]:
least_enemy_set_list = []
for sub_races in subs(all_races):
    if sub_races != []:
        X = get_X(sub_races)
        if min(X)>0:
            R_all = np.array(relationship_df.loc[all_races, sub_races])
            N_all = R_all@X
            enemy_set = set([race for i, race in enumerate(all_races) if N_all[i]<=0])
            if enemy_set == set():
                continue
            is_duplicate = False
            for i in reversed(range(len(least_enemy_set_list))):
                least_enemy_set = least_enemy_set_list[i]
                if least_enemy_set.issubset(enemy_set):
                    is_duplicate = True
                    break
                if enemy_set.issubset(least_enemy_set):
                    least_enemy_set_list.pop(i)
            if not is_duplicate:
                least_enemy_set_list = least_enemy_set_list + [enemy_set]
                
len(least_enemy_set_list)

283

which is the following

In [15]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    workload = sum(get_X(list(set(all_races) - least_enemy_set)))
    efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
    item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
    print(item)
    parsed_least_enemy_set_list += [item]

Boron - TerraCorp - Strong Arms - Split - Paranid - Pirates - NMMC - Argon - Teladi, 1758.3749999999743, 0.0034122414160802374
Atreus - TerraCorp - Split - Terran - Pirates - OTAS - NMMC - Strong Arms - Teladi, 544.480076202567, 0.011019686967880483
Atreus - TerraCorp - Split - Paranid - Pirates - OTAS - NMMC - Argon - Teladi, 552.8193767538032, 0.010853454586256453
Atreus - TerraCorp - Split - Terran - OTAS - NMMC - Argon - Teladi, 506.48866444611303, 0.013820644945045464
Teladi - TerraCorp - Terran - Pirates - OTAS - NMMC - Argon - Atreus, 15209.636542237855, 0.00046023453489902146
Boron - Teladi - TerraCorp - Pirates - OTAS - NMMC - Terran - Atreus, 618.5248369292437, 0.011317249659290183
Teladi - TerraCorp - Paranid - Pirates - OTAS - NMMC - Terran - Atreus, 11356.756358877454, 0.0006163731772345522
Boron - Atreus - Split - Pirates - OTAS - Argon - NMMC - Strong Arms - Teladi, 479.08273381294765, 0.01252393287532385
Terran - Paranid - Pirates - OTAS - Argon - NMMC - Strong Arms - Teladi, 932.6163034179622, 0.0075057662774557716
Boron - Atreus - Split - Paranid - Pirates - NMMC - Strong Arms - Teladi, 419.9980657312856, 0.01666674342371518
Boron - Split - Terran - Pirates - OTAS - NMMC - Strong Arms - Teladi, 667.1714658052665, 0.010492055429185809
Boron - Atreus - Split - Terran - Pirates - NMMC - Argon - Teladi, 13741.66803281617, 0.0005093995855003524
TerraCorp - Strong Arms - Duke's - Pirates - Argon - Yaki, 21962.274528799935, 0.00040979362079269024
Boron - TerraCorp - Duke's - Pirates - Strong Arms - Yaki, -27986.687748996188, -0.0003215814633270708
Boron - Teladi - Terran - Duke's - Pirates - Strong Arms - Atreus, 1207.8449228464185, 0.006623366831850505
Split - Duke's - Pirates - Strong Arms - Yaki, 157.46622151477658, 0.06350568333832537
Duke's - Pirates - Yaki - Strong Arms - Atreus, 115.80946764695189, 0.08634872608589528
Duke's - Pirates - OTAS - Strong Arms - Yaki, 55.18972548571196, 0.1811931462240901
Duke's - Paranid - Pirates - Strong Arms - Yaki, 76.97766506101132, 0.1299078114680947
Boron - TerraCorp - Split - Strong Arms - Yaki - Argon - Atreus, 173.91539470957923, 0.04599937810772402
Boron - TerraCorp - Split - Strong Arms - Pirates - Argon - Yaki, 104.8162602262912, 0.07632403581971482
Atreus - TerraCorp - Split - Strong Arms - Terran - OTAS - Argon - Teladi, 549.3881752701215, 0.012741446421846015
TerraCorp - Split - Strong Arms - OTAS - Yaki - Argon - Atreus, 651.6304134884854, 0.012276897815699272
Atreus - TerraCorp - Split - Strong Arms - Paranid - Pirates - Argon - Teladi, 4618.211492270493, 0.001515738292132335
TerraCorp - Split - Strong Arms - Duke's - OTAS - Argon - Yaki, 98.13427898713854, 0.08152095356046259
TerraCorp - Split - Strong Arms - Terran - Paranid - Argon - Teladi, 273.67850400552754, 0.02923137872691098
TerraCorp - Split - Strong Arms - Paranid - Argon - Yaki, 279.81452521019963, 0.03216416300490157
Teladi - TerraCorp - Strong Arms - Duke's - Pirates - OTAS - Argon - Atreus, 5696.305164319121, 0.0012288667474922245
TerraCorp - Strong Arms - Terran - Duke's - Pirates - Argon - Teladi, 4586.925917629072, 0.0017440874659111797
Boron - TerraCorp - Split - Pirates - Yaki - Strong Arms - Atreus, 234.69666324670132, 0.03408655193189007
Boron - TerraCorp - Split - Paranid - Strong Arms - Yaki, 249.55569028056792, 0.03606409451085476
Boron - Teladi - TerraCorp - Duke's - Pirates - OTAS - Strong Arms - Atreus, 4809.399999999908, 0.0014554830124340113
Boron - TerraCorp - Paranid - Yaki - Strong Arms - Atreus, 218.49638117035317, 0.041190613555210545
Boron - TerraCorp - Terran - Duke's - Pirates - Strong Arms - Teladi, 3128.706253442994, 0.002556967433806346
Teladi - TerraCorp - Split - Duke's - Pirates - OTAS - Strong Arms - Atreus, 6182.190019193704, 0.0011322848340583613
Teladi - TerraCorp - Split - Terran - Duke's - OTAS - Strong Arms - Atreus, 545.4800762025658, 0.012832732679681828
TerraCorp - Split - Duke's - OTAS - Yaki - Strong Arms - Atreus, 976.8241744230298, 0.00818980550386693
TerraCorp - Split - Duke's - Paranid - Pirates - Strong Arms - Teladi, 457.29807620996996, 0.017494060036952294
TerraCorp - Split - Terran - Duke's - Paranid - Strong Arms - Teladi, 339.3341582116624, 0.023575581197487157
TerraCorp - Split - Duke's - Paranid - Strong Arms - Yaki, 388.44837539989663, 0.023169101919231234
Split - Paranid - Pirates - Strong Arms - Yaki, 33.36325720772322, 0.2997309266819761
TerraCorp - Split - Strong Arms - Terran - Yaki, 136.3517123210083, 0.07333974637925582
Teladi - TerraCorp - Duke's - Paranid - Pirates - OTAS - Strong Arms - Atreus, 5310.72484599578, 0.0013180874933254945
TerraCorp - Duke's - Paranid - Yaki - Strong Arms - Atreus, 178.26712673585962, 0.05048603275765699
TerraCorp - Terran - Duke's - Paranid - OTAS - Strong Arms - Teladi, 5079.689853461185, 0.0015748993010959089
Boron - TerraCorp - Split - Duke's - Paranid - OTAS - Argon - Teladi, 1848.9999999999845, 0.003785830178474883
Boron - TerraCorp - Split - OTAS - Argon - Yaki, 332.0706267151558, 0.02710266815535009
Boron - TerraCorp - Split - Duke's - Pirates - Argon - Yaki, 173.20759890325073, 0.046187350039235825
Boron - Teladi - TerraCorp - Paranid - OTAS - Argon - Atreus, 468.0994629567656, 0.017090384914068772
Boron - TerraCorp - Duke's - Yaki - Argon - Atreus, 162.02635189908446, 0.05554652002290039
Boron - TerraCorp - Pirates - Yaki - Argon - Atreus, 86.26813160155808, 0.10432589454432385
Boron - TerraCorp - Duke's - OTAS - Argon - Yaki, 212.20807725123143, 0.042411203741999755
Teladi - TerraCorp - Split - Duke's - Paranid - OTAS - Argon - Atreus, 553.8193767538032, 0.012639499977466126
TerraCorp - Split - Paranid - Yaki - Argon - Atreus, 208.1386424106812, 0.04324040887247634
TerraCorp - Split - Terran - Duke's - OTAS - Argon - Teladi, 377.2700733955059, 0.02120496844077349
TerraCorp - Duke's - OTAS - Yaki - Argon - Atreus, 178.37058539283527, 0.05045674980647066
TerraCorp - Duke's - Paranid - Yaki - Argon - Atreus, 1768.0392033764012, 0.005090384864098498
TerraCorp - Terran - Paranid - Pirates - OTAS - Argon - Teladi, 938.331815868036, 0.008525768672353207
TerraCorp - Yaki - Argon - Terran, 6380.36023270709, 0.0017240405868639906
Boron - TerraCorp - Duke's - OTAS - Yaki - Atreus, 128.92640716459104, 0.06980726600494148
Boron - Teladi - TerraCorp - Duke's - Paranid - Pirates - Atreus, 491.59160026186174, 0.016273671063009514
Boron - TerraCorp - Duke's - Paranid - OTAS - Yaki, 1089.6132241637447, 0.00825981164730018
Boron - TerraCorp - Duke's - Paranid - Pirates - Yaki, 290.2774436244268, 0.0310048203802035
Boron - TerraCorp - Yaki - Terran, 1167.9560442782533, 0.009418162655939272
TerraCorp - Split - Paranid - OTAS - Yaki - Atreus, 1904.105501911603, 0.004726628850641187
TerraCorp - Split - Duke's - Paranid - Yaki - Atreus, 160.61475461006665, 0.05603470255176617
TerraCorp - Split - Duke's - Paranid - OTAS - Yaki, 1971.3466904819961, 0.004565407010067565
Split - Paranid - Pirates - OTAS - Yaki, 101.12776908947663, 0.09888480770452002
TerraCorp - Split - Paranid - OTAS - Terran - Teladi, 373.1164766175066, 0.024121154020293193
Teladi - TerraCorp - Duke's - Paranid - Terran - Atreus, 421.4559095885297, 0.021354546929444558
TerraCorp - Duke's - Pirates - Yaki - Atreus, 280.24981341472966, 0.035682450161711364
Yaki - TerraCorp - Atreus - Terran, 174.70372019814613, 0.06296374220036058
OTAS - TerraCorp - Yaki - Terran, 178.81625696398214, 0.06151565963163887
Duke's - TerraCorp - Yaki - Terran, 1169.8407341546097, 0.009402989380387063
Boron - Atreus - Split - Terran - Pirates - Argon - Strong Arms - Teladi, 4439.010873837199, 0.001576927878518354
Boron - Split - Duke's - Paranid - OTAS - Argon - Strong Arms - Teladi, 212.41256502600993, 0.03295473598345206
Boron - Split - OTAS - Argon - Strong Arms - Yaki, 213.34508319474236, 0.0421851765469784
Boron - Split - Duke's - Paranid - Pirates - Argon - Strong Arms - Teladi, 276.5703951029474, 0.02531001193166174
Boron - Split - Paranid - Argon - Strong Arms - Yaki, 306.872344174038, 0.02932815605858502
Boron - Teladi - Duke's - Paranid - Pirates - Argon - Strong Arms - Atreus, 205.22185473152715, 0.034109427619965015
Boron - Pirates - Argon - Yaki - Strong Arms - Atreus, 541.0530212038667, 0.016634229266430496
Boron - Duke's - OTAS - Argon - Strong Arms - Yaki, 286.0935262930942, 0.031458244150480257
Boron - Paranid - Pirates - Argon - Strong Arms - Yaki, 237.39847151003966, 0.03791094332980736
Teladi - Split - Terran - Paranid - Argon - Strong Arms - Atreus, 546.9979359392211, 0.014625283706534698
Split - Pirates - Argon - Yaki - Strong Arms - Atreus, 991.9891228480237, 0.009072680125927986
Split - Paranid - Pirates - OTAS - Argon - Strong Arms - Teladi, 530.1171330397447, 0.015091004424111328
Split - Pirates - OTAS - Argon - Strong Arms - Yaki, 60.497661959500505, 0.1487660796879217
Duke's - OTAS - Argon - Yaki - Strong Arms - Atreus, 270.3278261348859, 0.03329291005177268
Paranid - OTAS - Argon - Yaki - Strong Arms - Atreus, 424.008831767053, 0.02122597296497948
Duke's - Paranid - Argon - Yaki - Strong Arms - Atreus, 686.7486867347449, 0.013105230739926015
Paranid - Pirates - Argon - Yaki - Strong Arms - Atreus, 265.7966873010853, 0.033860467153998465
Atreus - Terran - Argon - Strong Arms - Yaki, 803.49399204337, 0.01244564377459618
Duke's - Paranid - OTAS - Argon - Strong Arms - Yaki, 103.44269295968117, 0.08700469547431376
Paranid - Pirates - OTAS - Argon - Strong Arms - Yaki, 280.6620181571889, 0.03206703942020191
Terran - Duke's - Paranid - Pirates - Argon - Strong Arms - Teladi, 3014.707642960341, 0.002653656986832816
Boron - Split - Paranid - Pirates - OTAS - Strong Arms - Teladi, 15020.894836970772, 0.0005325914392469937
Boron - Split - Pirates - OTAS - Strong Arms - Yaki, 172.51953062998973, 0.05216800652734616
Boron - Duke's - OTAS - Yaki - Strong Arms - Atreus, 340.7447661210923, 0.026412731448387447
Boron - Terran - Duke's - Paranid - OTAS - Strong Arms - Teladi, 329.23742001910944, 0.024298574565235227
Boron - Duke's - Paranid - OTAS - Strong Arms - Yaki, 68.2914441080999, 0.13178810490159967
Teladi - Split - Terran - Duke's - Paranid - Strong Arms - Atreus, 270.7542809044913, 0.0295470859159638
Atreus - Split - Paranid - Strong Arms - Yaki, 137.99842910943704, 0.07246459299960356
Strong Arms - Split - Yaki - Terran - Atreus, 1192.8494645957117, 0.008383287495031292
Split - Paranid - OTAS - Strong Arms - Yaki, 93.08238540161602, 0.10743171177719289
OTAS - Strong Arms - Yaki - Terran, 281.97836679426337, 0.039010084798546986
Boron - Split - Pirates - Yaki - Argon - Atreus, 122.9202563003894, 0.07321820073337651
Boron - Split - Duke's - OTAS - Argon - Yaki, 5387.561557879545, 0.0016705145552976756
Boron - OTAS - Yaki - Argon - Atreus, 90.8447276558732, 0.11007793471384236
Boron - Teladi - Terran - Duke's - Paranid - Argon - Atreus, 655.8812485348235, 0.012197329955493073
Boron - Paranid - Yaki - Argon - Atreus, 151.03602500598728, 0.06620936958320763
Boron - Paranid - OTAS - Argon - Yaki, 158.8566408552047, 0.0629498392145585
Boron - Terran - Pirates - OTAS - Argon - Teladi, 2202.7785586151817, 0.004085748866948305
Boron - Pirates - OTAS - Argon - Yaki, 245.9204908183572, 0.04066354929075935
Boron - Terran - Duke's - Paranid - Pirates - Argon - Teladi, 1686.4119568134784, 0.004743799382872154
Boron - Duke's - Paranid - Pirates - Argon - Yaki, 1059.3526775489286, 0.008495754238167123
Split - Duke's - OTAS - Yaki - Argon - Atreus, 1568.2191092770145, 0.005738993962488577
Split - Pirates - OTAS - Yaki - Argon - Atreus, 144.32584237259584, 0.06235889465148823
Teladi - Split - Duke's - Paranid - Pirates - Argon - Atreus, 536.6466354809999, 0.014907388719263186
Split - Duke's - Paranid - Yaki - Argon - Atreus, 389.4680058668159, 0.023108445018402046
Split - Argon - Yaki - Terran - Atreus, 351.5451471941179, 0.028445848505706018
Split - Paranid - OTAS - Argon - Yaki, 678.8269657494172, 0.014731294578081639
Split - Terran - Pirates - OTAS - Argon - Teladi, 988.4514351272411, 0.009105151431988614
Split - Paranid - Pirates - Argon - Yaki, 303.52869366709723, 0.03294581437815482
Paranid - Pirates - OTAS - Yaki - Argon - Atreus, 298.94503982777206, 0.030105868306713073
Duke's - Pirates - Yaki - Argon - Atreus, 8829.79969447973, 0.0011325285222780154
Duke's - Pirates - OTAS - Argon - Yaki, 110.42763748844405, 0.09055704013450866
OTAS - Argon - Yaki - Terran, 83.24190571176665, 0.13214498041513598
Boron - Split - Duke's - OTAS - Yaki - Atreus, 2670.6349338494956, 0.003369985124483958
Boron - Split - Pirates - OTAS - Yaki - Atreus, 182.99089269451142, 0.04918277553312326
Boron - Split - Paranid - Yaki - Atreus, 114.54905859460686, 0.0872988405377503
Boron - Split - Paranid - OTAS - Yaki, 170.53300987724117, 0.0586396733817021
Boron - Split - Paranid - Pirates - Yaki, 103.49594629999038, 0.09662214180847516
Boron - Paranid - OTAS - Yaki - Atreus, 124.27666026212, 0.08046563191276905
Boron - Duke's - Paranid - Yaki - Atreus, 304.84229922610814, 0.032803846531097
Boron - Duke's - Pirates - Yaki - Atreus, 110.46725937249495, 0.09052455955551553
Boron - Paranid - Pirates - Yaki - Atreus, 105.39212222937911, 0.09488375211038685
Boron - Terran - Atreus - Yaki, 362.03269977700705, 0.030383995718550886
Boron - Duke's - Pirates - OTAS - Yaki, 79.85484550283897, 0.12522721616992527
Boron - Paranid - Pirates - OTAS - Yaki, -24369.074685862073, -0.0004103561636585892
Boron - OTAS - Terran - Yaki, 78.34237671512548, 0.14040932201992082
Teladi - Split - Duke's - Pirates - Terran - Atreus, 701.2801964226642, 0.012833671970077516
Split - Duke's - Pirates - Yaki - Atreus, 213.01703964177761, 0.046944601318357475
Split - Paranid - Pirates - Yaki - Atreus, 79.85944440538408, 0.12522000465264702
Split - Duke's - Pirates - OTAS - Yaki, 74.2644117326607, 0.1346539986878009
OTAS - Terran - Yaki - Split, 121.09694482534431, 0.09083631313626515
Split - Duke's - Paranid - Pirates - Yaki, 74.31094030474358, 0.13456968730298327
Teladi - Duke's - Paranid - OTAS - Terran - Atreus, 291.00555639161536, 0.030927244522741745
Atreus - Duke's - Paranid - OTAS - Yaki, 363.6685152648191, 0.027497568748062005
Duke's - Pirates - OTAS - Yaki - Atreus, 59.131288178803295, 0.16911520631449198
Yaki - OTAS - Terran - Atreus, 151.9081199563972, 0.07241219233808814
Duke's - Paranid - Pirates - Yaki - Atreus, 53.14390556429994, 0.18816833075809206
Yaki - Duke's - Terran - Atreus, 134248.85468439595, 8.19373843140768e-05
Duke's - Paranid - Pirates - OTAS - Yaki, 75.78080364066754, 0.13195954014181938
Duke's - Pirates - OTAS - Terran - Teladi, 763.7443057890945, 0.013093387308031161
OTAS - Duke's - Terran - Yaki, 68.01331847910076, 0.16173302885346047
Terran - Yaki - Paranid, 195.74987462921928, 0.061302721254508426
Pirates - Terran - Yaki, 162.44393680858647, 0.07387163987622407
Split - Terran - Duke's - Pirates - Strong Arms - Atreus, 468.69948093086805, 0.019202069484108256
TerraCorp - Split - Strong Arms - Duke's - Pirates - OTAS - Argon, 224.27928473468188, 0.03566981234786729
TerraCorp - Split - Strong Arms - Terran - Duke's - OTAS - Argon, 215.95094776927425, 0.03704544982385231
TerraCorp - Split - Strong Arms - Duke's - Paranid - Pirates - Argon, 218.83273963960943, 0.036557601084622963
TerraCorp - Split - Strong Arms - Terran - Duke's - Paranid - Argon, 217.0474189765025, 0.0368583051469784
TerraCorp - Strong Arms - Pirates - OTAS - Yaki - NMMC - Argon - Atreus, 1905.2492056913625, 0.00367406005423836
Boron - TerraCorp - Split - Duke's - Paranid - Pirates - Strong Arms, 211.9153766711288, 0.03775091796389646
Boron - TerraCorp - Pirates - OTAS - Yaki - NMMC - Strong Arms - Atreus, 1074.256484149849, 0.006516134743687117
Boron - TerraCorp - Duke's - Paranid - Pirates - Strong Arms - Atreus, 216.32644429167172, 0.03698114683202413
Paranid - Pirates - OTAS - Yaki - NMMC - Strong Arms - Atreus, 995.0257432779404, 0.0080399929891717
TerraCorp - Terran - Duke's - Paranid - Strong Arms - Atreus, 1044.6513209464072, 0.008615314813220552
Boron - TerraCorp - Split - Duke's - Paranid - Argon - Atreus, 260.24444087888764, 0.030740330025812286
Boron - TerraCorp - Split - Duke's - Pirates - Argon - Atreus, 171.1158645602373, 0.04675194798892413
Boron - TerraCorp - Split - Duke's - Pirates - OTAS - Argon, 104.17922628063695, 0.07679074116417106
Boron - TerraCorp - Duke's - OTAS - Argon - Atreus, 1547.2620822567349, 0.005816726269717145
Boron - TerraCorp - Paranid - OTAS - NMMC - Argon - Atreus, 1081.9473896719562, 0.007394074865715587
Boron - TerraCorp - Duke's - Paranid - Pirates - Argon - Atreus, 52.332670631217866, 0.15286817782289486
Boron - TerraCorp - Terran - Duke's - Argon - Atreus, 132.34294567251206, 0.06800513585567955
Boron - TerraCorp - Duke's - Paranid - Pirates - OTAS - Argon, 299.26138759223005, 0.026732483145806646
Boron - TerraCorp - Terran - Duke's - OTAS - Argon, 103.99794312386913, 0.0865401731001578
Boron - TerraCorp - Terran - Duke's - Pirates - Argon, 1425.1742672713424, 0.006315017192410806
TerraCorp - Split - Duke's - Pirates - OTAS - Argon - Atreus, 96.53996750742758, 0.08286723319421563
TerraCorp - Split - Pirates - OTAS - NMMC - Argon - Yaki, 434.9426858130927, 0.01839322802967614
TerraCorp - Duke's - Paranid - Pirates - OTAS - Argon - Atreus, 252.00365243892088, 0.03174557163189923
TerraCorp - Terran - Duke's - OTAS - Argon - Atreus, 93.73275975771782, 0.09601765725519411
TerraCorp - Terran - Duke's - Paranid - Argon - Atreus, 128.76480834454003, 0.06989487357382941
TerraCorp - Terran - Duke's - Paranid - OTAS - Argon, 298.80538848208755, 0.030119938752508547
TerraCorp - Terran - Paranid - Pirates - OTAS - NMMC - Argon, 6583.131011726913, 0.0012152272202617775
Boron - TerraCorp - Split - Duke's - Paranid - OTAS - Atreus, 168.52719129210803, 0.04747008443363663
Boron - TerraCorp - Split - Duke's - Pirates - OTAS - Atreus, 144.99133997529776, 0.05517570912416537
Boron - TerraCorp - Duke's - OTAS - Terran - Atreus, 106.30561486474942, 0.0846615676081694

Boron - TerraCorp - Duke's - Paranid - OTAS - Terran, 120.68555809056849, 0.07457396015226568
TerraCorp - Split - Duke's - Paranid - Pirates - Atreus, 497.05351949403536, 0.018106702089467852
TerraCorp - Split - Paranid - OTAS - NMMC - Terran, 2505.2585002528967, 0.003592443653655494
TerraCorp - Split - Duke's - Pirates - Terran, 633.29026127524, 0.015790547575867127
TerraCorp - Split - Paranid - Pirates - NMMC - Yaki, 1932.8745328669559, 0.004656277397711199
TerraCorp - Split - NMMC - Terran - Yaki, 5771.820407590587, 0.0017325556399587357
TerraCorp - Duke's - Paranid - OTAS - Terran - Atreus, 73.66057299503643, 0.12218205254263308
TerraCorp - Duke's - Pirates - Terran - Atreus, 93.52379886462637, 0.10692465577103832
TerraCorp - Duke's - Pirates - OTAS - Terran, 114.82559841822973, 0.0870885946840613
TerraCorp - Duke's - Paranid - Pirates - Terran, 304.5529752978415, 0.032835010034692226
Boron - Split - Duke's - Pirates - OTAS - Argon - Strong Arms, 108.11800528520361, 0.07399322600243008
Boron - Duke's - Paranid - Pirates - OTAS - Argon - Strong Arms, 181.91808462473526, 0.043975836797658575
Split - Duke's - Paranid - OTAS - Argon - Strong Arms - Atreus, 3700.44795193141, 0.0021619004250078653
Split - Duke's - Pirates - OTAS - Argon - Strong Arms - Atreus, 107.5077314220561, 0.07441325283475132
Split - Terran - Duke's - Paranid - Argon - Strong Arms - Atreus, 372.79132624939405, 0.021459726760509636
Split - Paranid - Pirates - OTAS - Argon - NMMC - Strong Arms, 1808.0046528838575, 0.0044247673739332485
Duke's - Paranid - Pirates - OTAS - Argon - Strong Arms - Atreus, 179.49442107032894, 0.044569630366759226
Boron - Split - Duke's - Paranid - OTAS - Strong Arms - Atreus, 214.26942966689091, 0.03733617069143749
Boron - Split - Duke's - Pirates - OTAS - Strong Arms - Atreus, 385.0986045412417, 0.02077390025739044
Boron - Split - Pirates - Yaki - NMMC - Strong Arms - Atreus, 697.5180293934927, 0.011469237586526869
Boron - Paranid - Yaki - NMMC - Strong Arms - Atreus, 1474.934558041065, 0.006101965643786497
Boron - Terran - Duke's - Paranid - Pirates - Strong Arms, 1286.0105760738481, 0.00699838723525644
Split - Pirates - OTAS - Yaki - NMMC - Strong Arms - Atreus, 7184.148391520021, 0.0011135627445339226
Split - Duke's - Paranid - Pirates - Strong Arms - Atreus, 72.36937977169379, 0.1243619888465621
Split - Duke's - Paranid - Pirates - OTAS - Strong Arms, 43.57616656953313, 0.2065349182480056
Terran - Duke's - Paranid - OTAS - Strong Arms - Atreus, 600.7810909718963, 0.01498049811361491
Terran - Duke's - Pirates - OTAS - Strong Arms, 1089.0907334998967, 0.00918197143029952
Boron - Duke's - Paranid - OTAS - Argon - Atreus, 156.64858498568685, 0.05745343949849493
Boron - Duke's - Pirates - OTAS - Argon - Atreus, 76.62088044141265, 0.11746145369448939
Boron - Terran - Duke's - OTAS - Argon - Atreus, 99.04589029862736, 0.09086697058166307
Boron - Terran - Duke's - Pirates - Argon - Atreus, 531.3230551664291, 0.016938847114738666
Split - Terran - Duke's - Pirates - Argon - Atreus, 615.3797505883545, 0.014625115615837616
Split - Duke's - Paranid - Pirates - OTAS - Argon, 171.2078638039254, 0.05256767884392966
Terran - Duke's - Paranid - OTAS - Argon - Atreus, 105.38683714405323, 0.08539965942518897
Terran - Duke's - Pirates - OTAS - Argon, 167.57659047613365, 0.059674206114273494
Boron - Split - Duke's - Paranid - Pirates - Atreus, 98.69350042984358, 0.09119141545088537
Boron - Split - Duke's - Pirates - Terran - Atreus, 211.48059974520987, 0.04255709512287712
Boron - Split - Duke's - Paranid - Pirates - OTAS, 99.26026653367603, 0.09067072167236796
Boron - Duke's - Paranid - Pirates - OTAS - Atreus, 79.8920266835973, 0.11265204268310042
Boron - Duke's - Pirates - OTAS - Terran, 126.12580707309684, 0.07928591485011827
Split - Duke's - Paranid - Pirates - OTAS - Atreus, 68.65854129362828, 0.13108347236085582
Split - Paranid - OTAS - Yaki - NMMC - Atreus, 586.2996636003357, 0.015350511963000291
Split - Duke's - Paranid - OTAS - Terran, 476.6124661169289, 0.020981406721213767
Split - Duke's - Pirates - OTAS - Terran, 70.89051137474675, 0.14106260211803592
Duke's - Pirates - OTAS - Terran - Atreus, 90.35429550955728, 0.11067542437915688
Duke's - Paranid - Pirates - Terran - Atreus, 76.37822886976059, 0.1309273617361814
Duke's - Paranid - Pirates - OTAS - Terran, 63.72800952002054, 0.15691687337038887
OTAS - NMMC - Terran - Yaki, 824.8106996204912, 0.013336393435561977
Boron - TerraCorp - Split - Strong Arms - Paranid - Argon - Atreus, 590.0780969817814, 0.013557527454280342
Boron - TerraCorp - Split - Strong Arms - Paranid - OTAS - Argon, 590.0780969817832, 0.0135575274542803
Boron - TerraCorp - Strong Arms - Paranid - OTAS - Argon - Atreus, 2321.5849164235224, 0.0034459217681015357
Boron - TerraCorp - Terran - OTAS - Argon - Atreus, 43.586475628329374, 0.2064860686774679
Boron - TerraCorp - Terran - Pirates - Argon - Atreus, 82.74798147656628, 0.10876398238848575
TerraCorp - Split - Strong Arms - Paranid - Pirates - OTAS - Argon, 1262.8185349523574, 0.006335035302836934
TerraCorp - Strong Arms - Terran - Paranid - Pirates - OTAS - Argon, 1262.8185349523596, 0.006335035302836922
Boron - TerraCorp - Split - Paranid - Pirates - Strong Arms - Atreus, 744.8755623306301, 0.010740048948537011
Boron - TerraCorp - Split - Terran - Paranid - Strong Arms, 6453.342833633186, 0.001394626046069377
Boron - TerraCorp - Split - Pirates - OTAS - Argon - Atreus, 148.82106619294527, 0.05375583043887125
Boron - TerraCorp - Split - Terran - Argon - Atreus, 727.5860329816306, 0.012369671203167835
Boron - TerraCorp - Split - Terran - OTAS - Argon, 116.22918298976731, 0.07743322088732527
Boron - TerraCorp - Split - Terran - Paranid - Argon, 396.53938204231906, 0.022696358565060536
Boron - TerraCorp - Split - Terran - Pirates - Argon, 1369.0766935934282, 0.006573773435860351
Boron - TerraCorp - Terran - Pirates - OTAS - Argon, 87.81553018669776, 0.10248756661681369
Boron - TerraCorp - Terran - Paranid - Pirates - Argon, 428.6790773254372, 0.0209947265356446
TerraCorp - Split - Terran - Pirates - Argon - Atreus, 332.81291307644847, 0.027042219957170543
TerraCorp - Split - Terran - Pirates - OTAS - Argon, 112.14391202892514, 0.08025402215038335
TerraCorp - Terran - Paranid - OTAS - Argon - Atreus, 2598.71460652766, 0.0034632506306745176
TerraCorp - Terran - Paranid - Pirates - Argon - Atreus, 659.8955238051583, 0.013638522577185041
Boron - TerraCorp - Split - Pirates - Terran - Atreus, 1802.5767666648221, 0.004992852546664102
Boron - TerraCorp - Split - Pirates - OTAS - Terran, 580.726888370403, 0.01549781864803126
Boron - TerraCorp - Paranid - Terran - Atreus, 897.5011746011472, 0.011142046699207982
TerraCorp - Split - Paranid - Terran - Atreus, 613.8531487813323, 0.01629054118212598
Boron - Terran - Pirates - OTAS - Argon - Atreus, 70.84069862444443, 0.1270456132528095
Split - Paranid - Pirates - OTAS - Argon - Strong Arms - Atreus, 125.62236361107217, 0.06368292850123457
Split - Terran - Pirates - OTAS - Argon - Strong Arms, 407.6683263178383, 0.02207677030317817
Strong Arms - Split - Paranid - OTAS - Terran, 2292.9122443672923, 0.004361265907391674
Boron - Split - Paranid - OTAS - Argon - Atreus, 74.46106373360047, 0.120868539189815
Boron - Split - Terran - OTAS - Argon - Atreus, 251.77225805787998, 0.03574659126237406
Boron - Split - Paranid - Pirates - Argon - Atreus, 305.001633663582, 0.029508038668170002
Boron - Split - Paranid - Pirates - OTAS - Argon, 117.42977885772558, 0.07664154771937476
Boron - Split - Terran - Pirates - OTAS - Argon, 60.47901434292486, 0.14881194903357192
Boron - Paranid - Pirates - OTAS - Argon - Atreus, 2867.9359974523136, 0.003138145344943196
Boron - Terran - Paranid - OTAS - Argon, 1139.7164129334853, 0.008774112477911298
Split - Terran - Pirates - OTAS - Argon - Atreus, 231.28382246820374, 0.0389132274966499
Split - Paranid - OTAS - Argon - Terran, 250.74361212152417, 0.03988137490479099
Terran - Paranid - Pirates - OTAS - Argon - Atreus, 405.2034550572133, 0.022211064312690106
Boron - Split - Paranid - Pirates - OTAS - Atreus, 600.5825292105742, 0.014985450895199868
Boron - Split - Pirates - OTAS - Terran - Atreus, 745.7569699600022, 0.012068274736316182
Boron - Split - Paranid - Terran - Atreus, 640.79884423906, 0.015605521280043607
Boron - Split - Paranid - OTAS - Terran, 136.00306499426443, 0.07352775469009999
Boron - Paranid - OTAS - Terran - Atreus, 443.3764649289657, 0.02255419669513158
Boron - Paranid - Pirates - Terran - Atreus, 289.06652595833987, 0.034594112780257355
Boron - Paranid - Pirates - OTAS - Terran, 814.9343447848893, 0.012270927178360126
Split - Paranid - OTAS - Terran - Atreus, 351.8464198608714, 0.028421491410809987
Pirates - Terran - Paranid - Split, 258.26000586802354, 0.04259273503471241

3 or less enemies option are listed below

In [16]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) <= 3:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

Terran - Yaki - Paranid, 195.74987462921928, 0.061302721254508426
Pirates - Terran - Yaki, 162.44393680858647, 0.07387163987622407

4 enemies

In [17]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 4:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

TerraCorp - Yaki - Argon - Terran, 6380.36023270709, 0.0017240405868639906
Boron - TerraCorp - Yaki - Terran, 1167.9560442782533, 0.009418162655939272
Yaki - TerraCorp - Atreus - Terran, 174.70372019814613, 0.06296374220036058
OTAS - TerraCorp - Yaki - Terran, 178.81625696398214, 0.06151565963163887
Duke's - TerraCorp - Yaki - Terran, 1169.8407341546097, 0.009402989380387063
OTAS - Strong Arms - Yaki - Terran, 281.97836679426337, 0.039010084798546986
OTAS - Argon - Yaki - Terran, 83.24190571176665, 0.13214498041513598
Boron - Terran - Atreus - Yaki, 362.03269977700705, 0.030383995718550886
Boron - OTAS - Terran - Yaki, 78.34237671512548, 0.14040932201992082
OTAS - Terran - Yaki - Split, 121.09694482534431, 0.09083631313626515
Yaki - OTAS - Terran - Atreus, 151.9081199563972, 0.07241219233808814
Yaki - Duke's - Terran - Atreus, 134248.85468439595, 8.19373843140768e-05
OTAS - Duke's - Terran - Yaki, 68.01331847910076, 0.16173302885346047
OTAS - NMMC - Terran - Yaki, 824.8106996204912, 0.013336393435561977
Pirates - Terran - Paranid - Split, 258.26000586802354, 0.04259273503471241

4 enemies but without terran

In [18]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 4 and "Terran" not in least_enemy_set:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

5 enemies but without any major races

In [19]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if len(list(least_enemy_set)) == 5 and set(major_races).intersection(least_enemy_set) == set():
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        print(item)
        parsed_least_enemy_set_list += [item]

Duke's - Pirates - Yaki - Strong Arms - Atreus, 115.80946764695189, 0.08634872608589528
Duke's - Pirates - OTAS - Strong Arms - Yaki, 55.18972548571196, 0.1811931462240901
TerraCorp - Duke's - Pirates - Yaki - Atreus, 280.24981341472966, 0.035682450161711364
Duke's - Pirates - OTAS - Yaki - Atreus, 59.131288178803295, 0.16911520631449198

enemies including Yaki has the following number of possible combos

In [20]:
parsed_least_enemy_set_list = []
for least_enemy_set in least_enemy_set_list:
    if "Yaki" in least_enemy_set:
        workload = sum(get_X(list(set(all_races) - least_enemy_set)))
        efficiency = (len(all_races) - len(list(least_enemy_set)))/workload
        item = " - ".join(list(least_enemy_set)) + ", " + str(workload) + ", " + str(efficiency)
        # print(item)
        parsed_least_enemy_set_list += [item]
        
len(parsed_least_enemy_set_list)

116

## Conclusion

- A simple tool is developed
- All 283 possible combos are given with total workload and efficiency
- The only two options to maintain at most 3 enemies (races, workload, efficiency)
    - Terran - Yaki - Paranid, 195.74987462921916, 0.06130272125450846
    - Pirates - Terran - Yaki, 162.4439368085863, 0.07387163987622415
- 4 options to keep good relationship with all 6 major races with least enemies (5) are listed as below:
    - Atreus - Pirates - Duke's - Strong Arms - Yaki, 115.80946764695183, 0.08634872608589532
    - OTAS - Pirates - Duke's - Strong Arms - Yaki, 55.18972548571193, 0.18119314622409022
    - Atreus - TerraCorp - Pirates - Duke's - Yaki, 280.2498134147285, 0.03568245016171151
    - OTAS - Atreus - Pirates - Duke's - Yaki, 59.131288178803246, 0.16911520631449212